$bg_color: #EDEDED
$colorBlack: #231714
$colorOrange:  #C0362D 
$colorDarkOrange: #8D362D
$colorGrey: #808080

@mixin FontStyle($font-size:14px,$font-color:#231714,$font-weight:600,$letter-spacing:7px,$line-height:unset)
    font-size: $font-size
    color: $font-color
    font-weight: $font-weight
    letter-spacing: $letter-spacing
    line-height: $line-height
@mixin backEndHover($top,$bottom)
    content: " "
    position: absolute
    left: 8px
    top: $top
    bottom: $bottom
    display: none
    width: 6px
    height: 6px
    background-image: url("../img/hover.png")
    background-size: cover
    @media ( max-width: 475px )
        left: $top
        right: $bottom
        top: 7px
        bottom: unset
@mixin before_after_default($position:relative,$content:" ")
    content: $content
    display: block
    position: $position
@mixin absolute($top:unset,$right:unset,$bottom:unset,$left:unset)
    position: absolute
    top: $top
    right: $right
    bottom: $bottom
    left: $left

@mixin keyframes($animationName)
    @keyframes #{$animationName}
        @content

@include keyframes(add_cart3)
    0%      
        width: 90px
        height: 90px
    99%
        width: 45px
        height: 45px
    100%
        opacity: 0
@include keyframes(add_cart2)
    0%
        width: 75px
        height: 75px
    99%
        width: 45px
        height: 45px
    100%
        opacity: 0
@include keyframes(add_cart1)
    0%
        width: 60px
        height: 60px
    99%
        width: 45px
        height: 45px
    100%
        opacity: 0


body
    *
        font-family: 'Noto Serif TC' 
        transition: 0.3s
    nav
        transition: 1s
        transition-timing-function: ease-in-out