@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 37px;
}

@media (max-width: 1279px) {
  main .header .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991px) {
  main .header .container .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .header .container .row .title {
  width: 225px;
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 49px;
}

@media (max-width: 1279px) {
  main .header .container .row .title {
    width: unset;
    margin: 0 15px 25px 0;
  }
}

@media (max-width: 540px) {
  main .header .container .row .title {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .container .row .status_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: unset;
  transition: unset;
}

@media (max-width: 991px) {
  main .header .container .row .status_area {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .header .container .row .status_area .status_arrow {
  position: relative;
  width: 28px;
  height: 39px;
  overflow: hidden;
  border-left: 1px solid #231714;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status_arrow {
    display: none;
  }
}

main .header .container .row .status_area .status_arrow::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 50px;
  height: 1px;
  background-color: #231714;
}

main .header .container .row .status_area .status_arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 50px;
  height: 1px;
  background-color: #231714;
}

main .header .container .row .status_area .arrow2 {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-left: 1px solid #C0362D;
  background-color: #C0362D;
}

main .header .container .row .status_area .arrow2::before {
  background-color: #C0362D;
}

main .header .container .row .status_area .arrow2::after {
  background-color: #C0362D;
}

main .header .container .row .status_area .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 176px;
  height: 176px;
  border-radius: 50%;
  border: 1px solid #231714;
  -webkit-transition: unset;
  transition: unset;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status {
    width: unset;
    height: unset;
    border: unset;
    border-radius: unset;
  }
}

main .header .container .row .status_area .status .status_title {
  width: 45%;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: unset;
  transition: unset;
  font-size: 73px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status .status_title {
    width: 100%;
    font-size: 16px;
    color: #808080;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .header .container .row .status_area .status .status_title span {
  display: none;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status .status_title span {
    display: block;
  }
}

main .header .container .row .status_area .status .status_content {
  width: 55%;
  position: relative;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status .status_content {
    display: none;
  }
}

main .header .container .row .status_area .status .status_content .text {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 28px;
}

main .header .container .row .status_area .status .status_content .text:last-child {
  height: 28px;
}

main .header .container .row .status_area .status .status_content .text:last-child span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 73px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}

main .header .container .row .status_area .status:nth-child(3) {
  background-color: #C0362D;
  border: 1px solid #C0362D;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status:nth-child(3) {
    background-color: unset;
    border: unset;
  }
}

main .header .container .row .status_area .status:nth-child(3) .status_title {
  color: #FFF;
}

@media (max-width: 991px) {
  main .header .container .row .status_area .status:nth-child(3) .status_title {
    color: #C0362D;
  }
}

main .header .container .row .status_area .status:nth-child(3) .status_content .text {
  color: #FFF;
}

main .header .container .row .status_area .status:nth-child(3) .status_content .text span {
  color: #FFF;
}

main .products_area .container .row .product {
  height: 145px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #B2B2B2;
}

@media (max-width: 991px) {
  main .products_area .container .row .product {
    height: auto;
    padding: 20px 0 0;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #B2B2B2;
  }
}

main .products_area .container .row .product .product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .product_img {
    width: 100%;
    margin-bottom: 20px;
  }
}

main .products_area .container .row .product .product_img .img {
  border-radius: 5px;
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
}

main .products_area .container .row .product .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .name {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }
  main .products_area .container .row .product .name::before {
    content: "";
    width: 141px;
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 991px) and (max-width: 540px) {
  main .products_area .container .row .product .name::before {
    width: 125px;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .name {
    font-size: 18px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main .products_area .container .row .product .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100%;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty {
    width: 100%;
    margin-bottom: 20px;
  }
}

main .products_area .container .row .product .qty .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0 5px;
  min-width: 76px;
  height: 43px;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 28px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty .count {
    min-width: 76px;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .qty .count {
    height: 28px;
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 20px;
  }
}

main .products_area .container .row .product .qty .count span:nth-child(1) {
  display: none;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty .count span:nth-child(1) {
    margin-right: 10px;
    width: 50px;
    display: block;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .qty .count span:nth-child(1) {
    width: 35px;
  }
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty .count span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
}

main .products_area .container .row .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 28px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .price {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .price {
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .products_area .container .row .product .price span:nth-child(1) {
  display: none;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .price span:nth-child(1) {
    margin-right: 10px;
    width: 50px;
    display: block;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .price span:nth-child(1) {
    width: 35px;
  }
}

@media (max-width: 991px) {
  main .products_area .container .row .product .price span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
}

main .products_area .container .row .product .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 32px;
  width: 15%;
  height: 100%;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 28px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .total {
    width: 100%;
    padding: 12px 0;
    padding-right: unset;
    background-color: #B2B2B2;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .total {
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .products_area .container .row .product .total span:nth-child(1) {
  display: none;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .total span:nth-child(1) {
    margin-right: 10px;
    width: 50px;
    display: block;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .total span:nth-child(1) {
    width: 35px;
  }
}

@media (max-width: 991px) {
  main .products_area .container .row .product .total span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
}

main .products_area .container .row .product:nth-child(2n+1) {
  background-color: #E5E5E5;
}

@media (max-width: 991px) {
  main .products_area .container .row .product:nth-child(2n+1) {
    background-color: unset;
  }
}

main .products_area .container .row .product:nth-child(1) {
  height: 58px;
  background-color: #B2B2B2;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product:nth-child(1) {
    display: none;
  }
}

main .products_area .container .row .product:last-child {
  margin-bottom: 32px;
}

main .price_area .container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 540px) {
  main .price_area .container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .price_area .container .row .content {
  min-width: 240px;
}

main .price_area .container .row .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .price_area .container .row .content div::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #b2b2b2;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .price_area .container .row .content div .title {
  width: 120px;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
}

main .price_area .container .row .content div .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
}

main .price_area .container .row .content div .price span:nth-child(2) {
  margin-left: auto;
}

main .price_area .container .row .content .shipping .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price_area .container .row .content .shipping .title span {
  width: 19px;
  height: 19px;
  background-color: #808080;
  border-radius: 50%;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 17px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
}

main .profile_area .profile .profile_table {
  padding: 45px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table {
    padding: 45px 0;
  }
}

main .profile_area .profile .profile_table .table_title {
  background-color: #E5E5E5;
  border-top: 1px solid #231714;
  border-bottom: 1px solid #231714;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1140px !important;
  padding: 0 30px;
}

@media (max-width: 1530px) {
  main .profile_area .profile .profile_table .table_title {
    max-width: 1000px !important;
    width: 70%;
  }
}

@media (max-width: 767px) {
  main .profile_area .profile .profile_table .table_title {
    max-width: 100% !important;
    width: 100%;
    padding: 0 5%;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .table_title {
    margin-bottom: 30px;
  }
}

main .profile_area .profile .profile_table .table_title .title {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: unset;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 767px) {
  main .profile_area .profile .profile_table .table_title .title {
    max-width: 100% !important;
    width: 100%;
  }
}

main .profile_area .profile .profile_table .container .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .profile_area .profile .profile_table .container .row .table_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .table_content {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    padding-left: unset;
    margin-bottom: 40px;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  main .profile_area .profile .profile_table .container .row .table_content .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info {
    margin-bottom: 0;
    padding: 7px 0;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .title {
  width: 126px;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .title {
    margin-right: unset;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .title {
    font-size: 14px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 20px;
    width: 100%;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .title span.active {
  color: red;
}

main .profile_area .profile .profile_table .container .row .table_content .info .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .input input {
  height: 34px;
  width: 90%;
  background-color: unset;
  border: 1px solid #231714;
  padding: 0 10px;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .input input {
    width: 100%;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .input input {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .input input:focus {
  -webkit-transition: unset;
  transition: unset;
  border: 1px solid #C0362D;
  outline: 2px solid #C0362D;
}

main .profile_area .profile .profile_table .container .row .table_content .info .input .single_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  border: 1px solid #4d4d4d;
  padding: 0 30px;
  border-right: unset;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .input .single_btn {
    padding: 0;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .input .single_btn:last-child {
  border-right: 1px solid #4d4d4d;
}

main .profile_area .profile .profile_table .container .row .table_content .info .input .single_btn.active {
  background-color: #4d4d4d;
  color: #FFF;
}

main .profile_area .profile .profile_table .container .row .table_content .info .input textarea {
  padding: 0 10px;
  border: 1px solid #231714;
  background-color: unset;
  width: 90%;
  height: 156px;
  resize: none;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .input textarea {
    width: 100%;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .info .input textarea {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

main .profile_area .profile .profile_table .container .row .table_content .info .input textarea:focus {
  -webkit-transition: unset;
  transition: unset;
  border: 1px solid #C0362D;
  outline: 2px solid #C0362D;
}

main .profile_area .profile .profile_table .container .row .table_content .info:last-child {
  margin-bottom: unset;
}

main .profile_area .profile .profile_table .container .row .table_content .info:last-child .title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .invoice .input .single_btn {
    width: 50%;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .table_content .receipt .input .single_btn:nth-child(2) {
    width: 20%;
  }
  main .profile_area .profile .profile_table .container .row .table_content .receipt .input .single_btn:nth-child(3) {
    width: 30%;
  }
  main .profile_area .profile .profile_table .container .row .table_content .receipt .input .single_btn:nth-child(4) {
    width: 50%;
  }
}

main .profile_area .profile .profile_table .container .row .submit_btn {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .submit_btn {
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .submit_btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .profile_area .profile .profile_table .container .row .submit_btn .previous, main .profile_area .profile .profile_table .container .row .submit_btn .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: unset;
  border: 1px solid #231714;
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .submit_btn .previous, main .profile_area .profile .profile_table .container .row .submit_btn .next {
    width: 200px;
  }
}

main .profile_area .profile .profile_table .container .row .submit_btn .previous:hover, main .profile_area .profile .profile_table .container .row .submit_btn .next:hover {
  color: #fff;
  background-color: #231714;
}

main .profile_area .profile .profile_table .container .row .submit_btn .previous:hover .arrow, main .profile_area .profile .profile_table .container .row .submit_btn .next:hover .arrow {
  background-color: #fff;
}

main .profile_area .profile .profile_table .container .row .submit_btn .previous .arrow, main .profile_area .profile .profile_table .container .row .submit_btn .next .arrow {
  width: 8px;
  height: 15px;
  background-color: #231714;
}

main .profile_area .profile .profile_table .container .row .submit_btn .previous {
  margin-bottom: 27px;
}

main .profile_area .profile .profile_table .container .row .submit_btn .previous .arrow {
  margin-right: 5px;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

main .profile_area .profile .profile_table .container .row .submit_btn .next .arrow {
  margin-left: 5px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
}

main .modal_area .modal .modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .modal_area .modal .modal-dialog .modal-content {
  border-radius: unset;
  background-color: #FFF;
  border: 5px solid #231714;
  min-width: 680px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 5px;
}

@media (max-width: 991px) {
  main .modal_area .modal .modal-dialog .modal-content {
    min-width: 400px;
  }
}

@media (max-width: 540px) {
  main .modal_area .modal .modal-dialog .modal-content {
    min-width: 280px;
  }
}

main .modal_area .modal .modal-dialog .modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

main .modal_area .modal .modal-dialog .modal-content .close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: unset;
}

main .modal_area .modal .modal-dialog .modal-content .close_modal::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(-45deg);
          transform: translate(-50%) rotate(-45deg);
  width: 50px;
  height: 2px;
  background-color: #231714;
}

main .modal_area .modal .modal-dialog .modal-content .close_modal::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  width: 50px;
  height: 2px;
  background-color: #231714;
}

main .modal_area .modal .modal-dialog .modal-content .title {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 41px;
}

@media (max-width: 540px) {
  main .modal_area .modal .modal-dialog .modal-content .title {
    font-size: 18px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 31px;
  }
}

main .modal_area .modal .modal-dialog .modal-content .content {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 41px;
  text-align: center;
}

@media (max-width: 540px) {
  main .modal_area .modal .modal-dialog .modal-content .content {
    font-size: 12px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 27px;
  }
}
/*# sourceMappingURL=checkout_fillin.css.map */