@import "_function.sass"
@mixin select_style($width)
    .selects
        width: $width
        height: 34px
        margin-right: 10px
        display: flex
        position: relative
        align-items: center
        justify-content: center
        background-color: #FFF
        border: 1px solid #4D4D4D
        +FontStyle(16px,$colorBlack,700,3px,54px) 
        @media ( max-width: 540px )
            width: 100%
        &::after 
            content: ""
            position: absolute
            top: 25%
            right: 18px
            width: 12px
            height: 12px
            border-radius: 2px
            background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
            transform: rotate(225deg)
    .option_area
        border: 1px solid #4D4D4D
        width: $width
        max-height: 300px
        overflow-y: scroll
        position: absolute
        z-index: 10
        +scrollbars(5px, $colorBlack, #FFF)
        @media ( max-width: 540px )
            width: 100%
        .option
            display: flex
            align-items: center
            justify-content: center
            position: relative
            background-color: #FFF
            +FontStyle(16px,$colorBlack,700,3px,42px) 
            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 50%
                width: 55%
                height: 1px
                background-color: $colorBlack
                transform: translateX(-50%)
            &:last-child
                &::after
                    display: none
            &:hover
                +FontStyle(16px,$colorOrange,700,3px,42px)    
body
    @media ( max-width: 1530px )
        background-color: #ebebeb
main
    .mask
        position: absolute
        top: 0px
        left: 20px
        width: calc(100% - 40px)
        z-index: -9999
        background-color: #ebebeb
        @media ( max-width: 1279px )
            display: none
    .header
        padding: 21px 0 37px
        .container
            .row
                @media ( max-width: 1279px )
                    flex-direction: column
                @media ( max-width: 991px )
                    flex-direction: row
                .title
                    width: 225px
                    +FontStyle(32px,$colorBlack,700,7px,49px)
                    @media ( max-width: 1279px )
                        width: unset
                        margin: 0 15px 25px 0
                .status_area
                    display: flex
                    justify-content: space-between
                    align-items: center 
                    flex: 1
                    transition: unset
                    @media ( max-width: 991px )
                        align-items: flex-start
                        flex-direction: column
                    .status_arrow
                        position: relative
                        width: 28px
                        height: 39px
                        overflow: hidden
                        border-left: 1px solid $colorBlack
                        @media ( max-width: 991px )
                            display: none
                        &::before
                            content: ""
                            position: absolute
                            top: 0px
                            left: 0px
                            transform: rotate(35deg)
                            transform-origin: top left
                            width: 50px
                            height: 1px
                            background-color: $colorBlack 
                        &::after
                            content: ""
                            position: absolute
                            bottom: 0px
                            left: 0px
                            transform: rotate(-35deg)
                            transform-origin: bottom left
                            width: 50px
                            height: 1px
                            background-color: $colorBlack 
                    .arrow1
                        clip-path: polygon(0 0, 0% 100%, 100% 50%)
                        border-left: 1px solid $colorOrange
                        background-color: $colorOrange
                        
                        &::before
                            background-color: $colorOrange 
                        &::after
                            background-color: $colorOrange       
                    .status
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 176px
                        height: 176px
                        border-radius: 50%
                        border: 1px solid $colorBlack
                        transition: unset
                        @media ( max-width: 991px )
                            width: unset
                            height: unset
                            border: unset
                            border-radius: unset
                        .status_title
                            width: 45%
                            padding-right: 5px
                            display: flex
                            justify-content: flex-end
                            align-items: center
                            transition: unset
                            +FontStyle(73px,$colorBlack,700,3px,1)
                            @media ( max-width: 991px )
                                width: 100%
                                +FontStyle(16px,$colorGrey,600,3px,28px)
                            span
                                display: none
                                @media ( max-width: 991px )
                                    display: block
                        .status_content
                            width: 55%
                            position: relative
                            @media ( max-width: 991px )
                                display: none
                            .text
                                +FontStyle(18px,$colorBlack,700,3px,28px)
                                &:last-child
                                    height: 28px
                                    span
                                        position: absolute
                                        top: 50%
                                        transform: translateY(-50%)
                                        +FontStyle(73px,$colorBlack,700,3px,1)
                        &:nth-child(1)
                            background-color: $colorOrange
                            border: 1px solid $colorOrange
                            @media ( max-width: 991px )
                                background-color: unset
                                border: unset
                            .status_title
                                color: #FFF
                                @media ( max-width: 991px )
                                    color: $colorOrange
                            .status_content
                                .text
                                    color: #FFF
                                    span
                                        color: #FFF
    .products_table
        .container
            .row
                .product
                    height: 145px
                    width: 100%
                    display: flex
                    align-items: center
                    border-bottom: 1px solid #B2B2B2
                    @media ( max-width: 991px )
                        height: auto
                        padding: 20px 0 0
                        margin-bottom: 20px
                        flex-direction: column
                        border: 1px solid #B2B2B2
                    .product_img
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 20%
                        height: 100%
                        @media ( max-width: 991px )
                            width: 100%
                            margin-bottom: 20px
                        .img
                            border-radius: 5px
                            width: 100px
                            height: 120px
                            background-position: center
                            background-size: cover
                    .name
                        display: flex
                        justify-content: flex-start
                        align-items: center
                        width: 30%
                        height: 100%
                        +FontStyle(18px,$colorBlack,700,3px,31px)
                        @media ( max-width: 991px )
                            width: 100%
                            justify-content: center
                            margin-bottom: 20px                        
                    .qty
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 15%
                        height: 100%
                        @media ( max-width: 991px )
                            width: 100%
                            margin-bottom: 20px
                        .count
                            display: flex
                            justify-content: center
                            align-items: center
                            padding: 0 10px
                            margin: 0 5px
                            width: 76px
                            height: 43px
                            border: 1px solid $colorBlack
                            background-color: #FFF
                            text-align: center
                            -webkit-user-select: text
                            +FontStyle(22px,$colorBlack,600,3px,31px)
                            @media ( max-width: 540px )
                                height: 28px
                                +FontStyle(14px,$colorBlack,600,3px,20px)
                            &:focus
                                transition: unset
                                border: 1px solid $colorOrange 
                                outline: 2px solid $colorOrange  
                        .minus,.plus
                            position: relative
                            width: 24px
                            height: 24px
                            .line1
                                width: 12px
                                height: 3px
                                background-color: $colorBlack
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translate(-50%)
                            .line2
                                width: 12px
                                height: 3px
                                background-color: $colorBlack
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translate(-50%) rotate(90deg)
                        
                    .price
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 20%
                        height: 100%
                        +FontStyle(18px,$colorBlack,600,3px,28px)
                        @media ( max-width: 991px )
                            width: 100%
                            margin-bottom: 20px
                        @media ( max-width: 540px )
                            +FontStyle(14px,$colorBlack,600,3px,28px)
                        span
                            &:nth-child(1)
                                display: none
                                margin-right: 10px
                                @media ( max-width: 991px )
                                    display: block
                    .total
                        display: flex
                        justify-content: center
                        align-items: center
                        padding-right: 32px
                        width: 15%
                        height: 100%
                        +FontStyle(18px,$colorBlack,600,3px,28px)
                        @media ( max-width: 991px )
                            width: 100%
                            padding: 12px 0
                            padding-right: unset
                            background-color: #B2B2B2
                        @media ( max-width: 540px )
                            +FontStyle(14px,$colorBlack,600,3px,28px)
                        span
                            &:nth-child(1)
                                display: none
                                margin-right: 10px
                                @media ( max-width: 991px )
                                    display: block
                    &:nth-child(2n+1)
                        background-color: #E5E5E5
                        @media ( max-width: 991px )
                            background-color: unset
                    &:nth-child(1)
                        height: 58px
                        background-color: #B2B2B2
                        border-top: 1px solid #333333
                        border-bottom: 1px solid #333333
                        +FontStyle(18px,$colorBlack,700,3px,31px)
                        @media ( max-width: 991px )
                            display: none
                    &:last-child
                        margin-bottom: 32px
    .payment
        .container
            .row
                flex-wrap: wrap
                justify-content: space-between
                @media ( max-width: 1399px )
                    margin-bottom: 60px
                .pay_header
                    width: 100%
                    +FontStyle(18px,$colorOrange,600,3px,41px)
                    margin-bottom: 34px
                    @media ( max-width: 991px )
                        br
                            display: none
                .pay_content
                    @media ( max-width: 1399px )
                        width: 100%                
                    .method
                        margin-bottom: 27px
                        display: flex
                        flex-direction: column
                        .title
                            display: flex
                            align-items: flex-end
                            padding-bottom: 14px
                            border-bottom: 1px solid $colorBlack
                            @media ( max-width: 540px )
                                border-bottom: unset
                            .text
                                margin-right: 24px
                                +FontStyle(22px,$colorBlack,700,3px,31px)
                            .method_btn
                                height: 24px
                                display: flex
                                justify-content: center
                                align-items: center
                                padding: 0 20px
                                cursor: pointer
                                border: 1px solid $colorOrange
                                +FontStyle(14px,$colorOrange,700,3px,1)
                        .radio_btn
                            input[type="radio"] 
                                height: 18px
                                width: 18px
                                background-color: #FFF
                                color: #FFF
                            label
                                +FontStyle(18px,$colorBlack,700,3px,41px)
                        .atm_area
                            label
                                margin-right: 20px
                            .five
                                border-radius: 5px
                                border: 1px solid $colorGrey
                                padding: 0 5px 
                                width: 120px
                                +FontStyle(13px,$colorGrey,700,3px,1)
                                &:focus
                                    transition: unset
                                    border: 2px solid $colorOrange 
                                    outline: unset

                .coupon_content
                    max-width: 320px
                    width: 100%
                    @media ( max-width: 1399px )
                        max-width: 100%
                        margin-bottom: 30px
                    .title
                        +FontStyle(22px,$colorBlack,700,4px,31px)
                        margin-bottom: 14px
                    .coupon_select
                        +select_style(100%)
                        margin-bottom: 14px
                    .content
                        overflow: hidden
                        text-overflow: ellipsis
                        display: -webkit-box
                        -webkit-box-orient: vertical
                        -webkit-line-clamp: 3
                        +FontStyle(14px,$colorOrange,700,4px,28px)
                .price_content
                    display: flex 
                    @media ( max-width: 1399px )
                        width: 48%
                        padding-bottom: unset
                    @media ( max-width: 650px )
                        width: 100%
                        justify-content: center
                        margin-bottom: 60px   
                    .content
                        display: flex 
                        flex-direction: column
                        justify-content: flex-end
                        padding-bottom: 50px
                        @media ( max-width: 1399px )
                            padding-bottom: unset
                        div
                            display: flex
                            position: relative
                            &::before
                                content: ""
                                width: 100%
                                height: 1px
                                background-color: #b2b2b2
                                position: absolute
                                bottom: 0px
                                left: 50%
                                transform: translateX(-50%)
                            .title
                                min-width: 120px
                                +FontStyle(18px,$colorBlack,700,3px,42px)
                                span
                                    &:nth-child(3)
                                        +FontStyle(18px,$colorOrange,700,3px,42px)
                            .price
                                flex: 1
                                display: flex
                                justify-content: flex-end
                                +FontStyle(18px,$colorOrange,700,3px,42px)
                    .shipping
                        .title
                            display: flex
                            align-items: center
                            span
                                &:nth-child(2)      
                                    width: 19px
                                    height: 19px
                                    background-color: #808080
                                    border-radius: 50%
                                    margin-left: 3px
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    cursor: pointer
                                    +FontStyle(17px,#FFF,700,0px,1)  
                .submit_btn
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    padding-bottom: 120px
                    @media ( max-width: 1399px )
                        width: 48%
                        padding-bottom: unset
                        justify-content: center
                    @media ( max-width: 650px )
                        width: 100%
                        align-items: center
                    .previous,.next
                        display: flex
                        justify-content: center
                        align-items: center
                        border-radius: unset
                        border: 1px solid $colorBlack
                        width: 200px
                        height: 40px
                        transition: 0s !important
                        +FontStyle(18px,$colorBlack,700,3px,1) 
                        @media ( max-width: 991px )
                            width: 200px  
                        &:hover
                            color: #fff
                            background-color: $colorBlack
                            .arrow
                                background-color: #fff
                        .arrow
                            width: 8px
                            height: 15px
                            background-color: $colorBlack
                    .previous
                        margin-bottom: 27px
                        .arrow
                            margin-right: 5px
                            clip-path: polygon(100% 0, 0 50%, 100% 100%)
                    .next
                        .arrow
                            margin-left: 5px
                            clip-path: polygon(0 0, 0 100%, 100% 50%)
    .modal_area
        .modal
            .modal-dialog
                display: flex
                justify-content: center
                align-items: center
                .modal-content
                    border-radius: unset
                    background-color: #FFF
                    border: 5px solid $colorBlack
                    min-width: 680px
                    position: relative
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 45px 5px
                    @media ( max-width: 991px )
                        min-width: 400px
                    @media ( max-width: 540px )
                        min-width: 280px
                    &::before
                        content: ""
                        position: absolute
                        top: 0
                        left: 0
                        width: 52px
                        height: 52px
                        background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
                    .close_modal
                        position: absolute
                        top: 10px
                        right: 10px
                        width: 25px
                        height: 25px
                        overflow: hidden
                        border-radius: unset
                        &::before
                            content: ""
                            position: absolute
                            top: 48%
                            left: 50%
                            transform: translate(-50%) rotate(-45deg)
                            width: 50px
                            height: 2px
                            background-color: $colorBlack
                        &::after
                            content: ""
                            position: absolute
                            top: 48%
                            left: 50%
                            transform: translate(-50%) rotate(45deg)
                            width: 50px
                            height: 2px
                            background-color: $colorBlack
                    .title
                        +FontStyle(22px,$colorBlack,700,4px,41px)
                        @media ( max-width: 540px )
                            +FontStyle(18px,$colorBlack,700,4px,31px)
                    .content
                        +FontStyle(18px,$colorBlack,700,4px,41px)
                        text-align: center
                        span
                            color: #808080
                        @media ( max-width: 540px )
                            +FontStyle(12px,$colorBlack,700,4px,27px)