@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes bordermove {
  0% {
    top: 0;
    height: 0px;
  }
  49% {
    top: 0;
    height: 105px;
  }
  100% {
    top: 105px;
    height: 0px;
  }
}

@keyframes bordermove {
  0% {
    top: 0;
    height: 0px;
  }
  49% {
    top: 0;
    height: 105px;
  }
  100% {
    top: 105px;
    height: 0px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 10px;
}

body * {
  font-family: 'Noto Serif TC','Noto Serif JP', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 71px 0 77px;
}

@media (max-width: 540px) {
  main .header {
    padding: 51px 0 22px;
  }
}

main .header .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .header .container .row .finish {
  width: 700px;
  height: 172px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #231714;
  padding-top: 35px;
}

@media (max-width: 540px) {
  main .header .container .row .finish {
    padding-top: 0;
    width: 280px;
    height: 75px;
  }
}

main .header .container .row .finish::before {
  content: "3";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #C0362D;
  position: absolute;
  z-index: 2;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 33px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
}

@media (max-width: 540px) {
  main .header .container .row .finish::before {
    width: 60px;
    height: 60px;
  }
}

main .header .container .row .finish .title {
  font-size: 23px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 36px;
}

@media (max-width: 540px) {
  main .header .container .row .finish .title {
    font-size: 16px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 36px;
  }
}

main .header .container .row .finish .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #ebebeb;
  font-size: 42px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 72px;
  padding: 0 20px;
}

@media (max-width: 540px) {
  main .header .container .row .finish .content {
    width: unset;
    font-size: 14px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
  }
}

main .header .container .row .finish .content::before {
  content: "";
  width: 586px;
  height: 1px;
  background-color: #231714;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 991px) {
  main .header .container .row .finish .content::before {
    display: none;
  }
}

main .products_area .container .row .product {
  height: 145px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #B2B2B2;
}

@media (max-width: 991px) {
  main .products_area .container .row .product {
    height: auto;
    padding: 20px 0 0;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #B2B2B2;
  }
}

main .products_area .container .row .product .product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .product_img {
    width: 100%;
    margin-bottom: 20px;
  }
}

main .products_area .container .row .product .product_img .img {
  border-radius: 5px;
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
}

main .products_area .container .row .product .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
  font-size: 22px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .name {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }
  main .products_area .container .row .product .name::before {
    content: "";
    width: 141px;
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 991px) and (max-width: 540px) {
  main .products_area .container .row .product .name::before {
    width: 125px;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .name {
    font-size: 18px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main .products_area .container .row .product .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100%;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty {
    width: 100%;
    margin-bottom: 20px;
  }
}

main .products_area .container .row .product .qty .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0 5px;
  min-width: 76px;
  height: 43px;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 28px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty .count {
    min-width: 76px;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .qty .count {
    height: 28px;
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 20px;
  }
}

main .products_area .container .row .product .qty .count span:nth-child(1) {
  display: none;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty .count span:nth-child(1) {
    margin-right: 10px;
    width: 50px;
    display: block;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .qty .count span:nth-child(1) {
    width: 35px;
  }
}

@media (max-width: 991px) {
  main .products_area .container .row .product .qty .count span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
}

main .products_area .container .row .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 28px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .price {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .price {
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .products_area .container .row .product .price span:nth-child(1) {
  display: none;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .price span:nth-child(1) {
    margin-right: 10px;
    width: 50px;
    display: block;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .price span:nth-child(1) {
    width: 35px;
  }
}

@media (max-width: 991px) {
  main .products_area .container .row .product .price span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
}

main .products_area .container .row .product .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 32px;
  width: 15%;
  height: 100%;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 28px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .total {
    width: 100%;
    padding: 12px 0;
    padding-right: unset;
    background-color: #B2B2B2;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .total {
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .products_area .container .row .product .total span:nth-child(1) {
  display: none;
}

@media (max-width: 991px) {
  main .products_area .container .row .product .total span:nth-child(1) {
    margin-right: 10px;
    width: 50px;
    display: block;
  }
}

@media (max-width: 540px) {
  main .products_area .container .row .product .total span:nth-child(1) {
    width: 35px;
  }
}

@media (max-width: 991px) {
  main .products_area .container .row .product .total span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
}

main .products_area .container .row .product:nth-child(2n+1) {
  background-color: #E5E5E5;
}

@media (max-width: 991px) {
  main .products_area .container .row .product:nth-child(2n+1) {
    background-color: unset;
  }
}

main .products_area .container .row .product:nth-child(1) {
  height: 58px;
  background-color: #B2B2B2;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 991px) {
  main .products_area .container .row .product:nth-child(1) {
    display: none;
  }
}

main .products_area .container .row .product:last-child {
  margin-bottom: 32px;
}

main .price_area .container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 540px) {
  main .price_area .container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .price_area .container .row .content {
  min-width: 220px;
}

main .price_area .container .row .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .price_area .container .row .content div::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #b2b2b2;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .price_area .container .row .content div .title {
  width: 100px;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
}

main .price_area .container .row .content div .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
}

main .price_area .container .row .content div .price span:nth-child(2) {
  margin-left: auto;
}

main .price_area .container .row .content .shipping .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price_area .container .row .content .shipping .title span {
  width: 19px;
  height: 19px;
  background-color: #808080;
  border-radius: 50%;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 17px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
}

main .profile_area .profile .profile_table {
  padding: 45px 0;
}

main .profile_area .profile .profile_table .container .row .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #B2B2B2;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .info {
    padding: 12px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .profile_area .profile .profile_table .container .row .info .title {
  width: 225px;
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .info .title {
    width: 100%;
    font-size: 18px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .info .title {
    font-size: 14px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 20px;
  }
}

main .profile_area .profile .profile_table .container .row .info .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  color: #666;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  main .profile_area .profile .profile_table .container .row .info .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 18px;
    color: #666;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .info .content {
    font-size: 12px;
    color: #666;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

main .profile_area .profile .profile_table .container .row .info:nth-child(1) {
  background-color: #E5E5E5;
  border-top: 2px solid #231714;
  border-bottom: 2px solid #231714;
}

main .profile_area .profile .profile_table .container .row .info:nth-child(1) .title {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .info:nth-child(1) .title {
    font-size: 18px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 57px;
  }
}

main .profile_area .profile .profile_table .container .row .info:nth-child(7) .title {
  margin-bottom: 10px;
}

main .profile_area .profile .profile_table .container .row .info:nth-child(7) .content {
  font-size: 18px;
  color: #666;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 27px;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_table .container .row .info:nth-child(7) .content {
    font-size: 12px;
    color: #666;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 16px;
  }
}

main .profile_area .profile .profile_edit {
  padding-bottom: 120px;
}

main .profile_area .profile .profile_edit .container .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 540px) {
  main .profile_area .profile .profile_edit .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .profile_area .profile .profile_edit .container .row .edit_btn {
  width: 240px;
  height: 36px;
  border: 1px solid #231714;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 33px;
}

main .profile_area .profile .profile_edit .container .row .edit_btn:hover {
  background-color: #1A1A1A;
  color: #F2F2F2;
}

main .modal_area .modal .modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .modal_area .modal .modal-dialog .modal-content {
  border-radius: unset;
  background-color: #FFF;
  border: 5px solid #231714;
  min-width: 680px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 5px;
}

@media (max-width: 991px) {
  main .modal_area .modal .modal-dialog .modal-content {
    min-width: 400px;
  }
}

@media (max-width: 540px) {
  main .modal_area .modal .modal-dialog .modal-content {
    min-width: 280px;
  }
}

main .modal_area .modal .modal-dialog .modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

main .modal_area .modal .modal-dialog .modal-content .close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: unset;
}

main .modal_area .modal .modal-dialog .modal-content .close_modal::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(-45deg);
          transform: translate(-50%) rotate(-45deg);
  width: 50px;
  height: 2px;
  background-color: #231714;
}

main .modal_area .modal .modal-dialog .modal-content .close_modal::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  width: 50px;
  height: 2px;
  background-color: #231714;
}

main .modal_area .modal .modal-dialog .modal-content .title {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 41px;
}

@media (max-width: 540px) {
  main .modal_area .modal .modal-dialog .modal-content .title {
    font-size: 18px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 31px;
  }
}

main .modal_area .modal .modal-dialog .modal-content .content {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 41px;
  text-align: center;
}

@media (max-width: 540px) {
  main .modal_area .modal .modal-dialog .modal-content .content {
    font-size: 12px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 27px;
  }
}
/*# sourceMappingURL=checkout_success.css.map */