@import "_function.sass"

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%))
    // For Google Chrome
    &::-webkit-scrollbar 
        width:  $size
        height: $size
    &::-webkit-scrollbar-thumb 
        background: $foreground-color
    &::-webkit-scrollbar-track 
        background: $background-color
    // For Internet Explorer
    & 
        scrollbar-face-color: $foreground-color
        scrollbar-track-color: $background-color
@mixin select_style($width)
    .selects
        width: $width
        height: 45px
        margin-right: 10px
        display: flex
        position: relative
        align-items: center
        justify-content: center
        background-color: #4D4D4D
        border: 1px solid #4D4D4D
        +FontStyle(16px,#FFF,700,3px,54px) 
        @media ( max-width: 540px )
            width: 100%
        &::after 
            content: ""
            position: absolute
            top: 30%
            right: 18px
            width: 12px
            height: 12px
            border-radius: 2px
            background: linear-gradient(to bottom right, #fff 0%, #fff 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
            transform: rotate(225deg)
    .option_area
        border: 1px solid #4D4D4D
        width: $width
        max-height: 300px
        overflow-y: scroll
        position: absolute
        z-index: 10
        +scrollbars(5px, $colorBlack, #FFF)
        @media ( max-width: 540px )
            width: 100%
        .option
            display: flex
            align-items: center
            justify-content: center
            position: relative
            background-color: #4D4D4D
            +FontStyle(16px,#FFF,700,3px,54px) 
            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 50%
                width: 55%
                height: 1px
                background-color: $colorBlack
                transform: translateX(-50%)
            &:last-child
                &::after
                    display: none
            &:hover
                +FontStyle(16px,$colorBlack,700,3px,54px)    
body
    @media ( max-width: 1530px )
        background-color: #ebebeb
main
    .mask
        position: absolute
        top: 0px
        left: 20px
        width: calc(100% - 40px)
        z-index: -9999
        background-color: #ebebeb
        @media ( max-width: 1279px )
            display: none
    .header
        padding: 21px 0 37px
        display: none
        @media ( max-width: 1279px )
            display: block
        .container
            .row
                justify-content: center
                align-items: center
                .header_btn
                    padding: 0 17px
                    cursor: pointer
                    +FontStyle(22px,$colorGrey,700,3px,1) 
                .login_btn
                    border-right: 1px solid #000
                .login_btn.active
                    color: $colorBlack
                .register_btn.active
                    color: $colorBlack
    .login_register_area
        padding: 74px 0 120px
        @media ( max-width: 1279px )
            padding: 0 0 120px
        .container
            .row
                @media ( max-width: 1279px )
                    justify-content: center
                .login_area
                    width: 50%
                    padding-right: 63px
                    border-right: 1px solid #000
                    @media ( max-width: 1279px )
                        display: none
                        padding-right: unset
                        border-right: unset
                        width: 100%
                    .content_header
                        +FontStyle(32px,$colorBlack,700,7px,49px) 
                        margin-bottom: 20px  
                        @media ( max-width: 1279px )
                            display: none 
                    .content
                        +FontStyle(18px,$colorBlack,400,3px,34px)
                        margin-bottom: 22px 
                        @media ( max-width: 540px )
                            +FontStyle(12px,$colorBlack,400,3px,23px)
                    form
                        margin-bottom: 60px 
                        @media ( max-width: 540px )
                            margin-bottom: 40px 
                        .input_title
                            .title
                                +FontStyle(14px,$colorBlack,400,4px,27px) 
                            input
                                border: 1px solid #000
                                background: unset
                                width: 100%
                                margin-bottom: 14px
                                &:focus
                                    transition: unset
                                    border: 1px solid $colorOrange 
                                    outline: 2px solid $colorOrange
                        .password
                            input
                                margin-bottom: 50px
                        .form_btn
                            display: flex
                            justify-content: flex-end
                            width: 100%
                            .forget
                                position: relative
                                display: flex
                                align-items: center
                                justify-content: center
                                width: 120px
                                height: 34px
                                +FontStyle(14px,$colorBlack,400,4px,1) 
                                &::before
                                    content: ""
                                    position: absolute
                                    bottom: 2px
                                    left: 49%
                                    transform: translateX(-50%)
                                    width: 60%
                                    height: 1px
                                    background-color: $colorBlack
                            .login
                                position: relative
                                display: flex
                                align-items: center
                                justify-content: center
                                width: 120px
                                height: 34px
                                border: 1px solid $colorBlack
                                border-radius: unset
                                +FontStyle(14px,$colorBlack,400,4px,1) 
                                &::before
                                    content: ""
                                    position: absolute
                                    top: 0
                                    left: 0
                                    width: 17px
                                    height: 17px
                                    background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
                    .external_login
                        width: 100%
                        display: flex
                        @media ( max-width: 540px )
                            flex-direction: column
                        .external_btn
                            display: flex
                            align-items: center
                            justify-content: center
                            cursor: pointer
                            width: 50%
                            height: 70px
                            border-radius: 10px
                            +FontStyle(18px,#FFF,700,4px,49px)
                            @media ( max-width: 540px )
                                width: 100%
                        .google
                            margin-right: 20px
                            background-color: #DD4B39
                            @media ( max-width: 540px )
                                margin-right: unset
                                margin-bottom: 20px
                        .facebook
                            background-color: #4E64AD
                .login_area.active
                    display: block
                .register_area
                    width: 50%
                    padding-left: 63px
                    @media ( max-width: 1279px )
                        display: none
                        padding-left: unset
                        width: 100%
                    .content_header
                        +FontStyle(32px,$colorBlack,700,7px,49px)  
                        margin-bottom: 26px
                        @media ( max-width: 1279px )
                            display: none 
                        span
                            &:nth-child(2)
                                +FontStyle(22px,$colorBlack,700,4px,49px)    
                    .external_login
                        width: 100%
                        display: flex
                        margin-bottom: 32px
                        @media ( max-width: 540px )
                            flex-direction: column
                        .external_btn
                            display: flex
                            align-items: center
                            justify-content: center
                            cursor: pointer
                            width: 50%
                            height: 70px
                            border-radius: 10px
                            @media ( max-width: 540px )
                                width: 100%
                        .google
                            margin-right: 20px
                            +FontStyle(18px,#DD4B39,700,4px,49px)
                            border: 1px solid #DD4B39
                            @media ( max-width: 540px )
                                margin-right: unset
                                margin-bottom: 20px
                        .facebook
                            +FontStyle(18px,#4E64AD,700,4px,49px)
                            border: 1px solid #4E64AD
                    .content
                        +FontStyle(22px,$colorBlack,700,3px,1)
                        margin-bottom: 17px
                    form
                        .input_title
                            display: flex
                            flex-direction: column
                            .title
                                +FontStyle(14px,$colorBlack,400,4px,27px) 
                            input
                                background-color: #4D4D4D
                                border: 1px solid #4D4D4D
                                margin-bottom: 14px
                                width: 100%
                                &:focus
                                    transition: unset
                                    border: 1px solid $colorOrange 
                                    outline: 2px solid $colorOrange 
                        .birthday
                            width: 100%
                            margin-bottom: 50px
                            .input_area
                                width: 100%
                                position: relative
                                display: flex
                                flex-wrap: wrap
                                align-items: center
                                .year_select
                                    width: calc( 40% - 2px )
                                    margin: 0 1px 0 0
                                    +select_style(100%) 
                                    @media ( max-width: 540px )
                                        width: 100%
                                        margin: 0 0 1px
                                .month_select
                                    width: 30%
                                    margin: 0 1px 0 0
                                    +select_style(100%) 
                                    @media ( max-width: 540px )
                                        width: calc( 50% - 1px )
                                .day_select
                                    width: 30%
                                    +select_style(100%)
                                    @media ( max-width: 540px )
                                        width: 50%
                        .form_btn                                    
                            display: flex
                            justify-content: flex-end
                            width: 100%
                            .restart
                                position: relative
                                display: flex
                                align-items: center
                                justify-content: center
                                width: 120px
                                height: 34px
                                +FontStyle(14px,$colorBlack,400,4px,1) 
                                &::before
                                    content: ""
                                    position: absolute
                                    bottom: 2px
                                    left: 49%
                                    transform: translateX(-50%)
                                    width: 60%
                                    height: 1px
                                    background-color: $colorBlack
                            .register
                                position: relative
                                display: flex
                                align-items: center
                                justify-content: center
                                width: 120px
                                height: 34px
                                border: 1px solid $colorBlack
                                border-radius: unset
                                +FontStyle(14px,$colorBlack,400,4px,1) 
                                &::before
                                    content: ""
                                    position: absolute
                                    top: 0
                                    left: 0
                                    width: 17px
                                    height: 17px
                                    background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
                .register_area.active
                    display: block    
    .modal_area
        .modal
            .modal-dialog
                display: flex
                justify-content: center
                align-items: center
                .modal-content
                    border-radius: unset
                    background-color: #FFF
                    border: 5px solid $colorBlack
                    width: 680px
                    height: 113px
                    position: relative
                    display: flex
                    justify-content: center
                    align-items: center
                    @media ( max-width: 540px )
                        width: 280px
                    &::before
                        content: ""
                        position: absolute
                        top: 0
                        left: 0
                        width: 52px
                        height: 52px
                        background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
                    .close_modal
                        position: absolute
                        top: 10px
                        right: 10px
                        width: 25px
                        height: 25px
                        overflow: hidden
                        border-radius: unset
                        &::before
                            content: ""
                            position: absolute
                            top: 48%
                            left: 50%
                            transform: translate(-50%) rotate(-45deg)
                            width: 50px
                            height: 2px
                            background-color: $colorBlack
                        &::after
                            content: ""
                            position: absolute
                            top: 48%
                            left: 50%
                            transform: translate(-50%) rotate(45deg)
                            width: 50px
                            height: 2px
                            background-color: $colorBlack
                    .content
                        +FontStyle(18px,$colorBlack,700,4px,41px)
                        @media ( max-width: 540px )
                            +FontStyle(12px,$colorBlack,700,4px,27px)