@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .login_register_area {
  padding-top: 74px;
}

main .login_register_area .container .row .login_area {
  width: 50%;
  padding-right: 63px;
  border-right: 1px solid #000;
}

main .login_register_area .container .row .login_area .header {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 49px;
}

main .login_register_area .container .row .login_area .content {
  font-size: 18px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

main .login_register_area .container .row .login_area form .input_title .title {
  font-size: 14px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 27px;
}

main .login_register_area .container .row .login_area form .input_title input {
  border: 1px solid #000;
  background: unset;
  width: 100%;
}

main .login_register_area .container .row .login_area form .input_title input:focus {
  -webkit-transition: unset;
  transition: unset;
  border: 1px solid #C0362D;
  outline: 2px solid #C0362D;
}

main .login_register_area .container .row .login_area .external_login {
  font-size: 18px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 49px;
}

main .login_register_area .container .row .register_area {
  width: 50%;
  padding-left: 63px;
}

main .login_register_area .container .row .register_area .header {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 49px;
}

main .login_register_area .container .row .register_area .header span:nth-child(2) {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 49px;
}

main .login_register_area .container .row .register_area .content {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 49px;
}

main .login_register_area .container .row .register_area form .input_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .login_register_area .container .row .register_area form .input_title .title {
  font-size: 14px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 27px;
}

main .login_register_area .container .row .register_area form .input_title input {
  background-color: #4D4D4D;
  border: 1px solid #4D4D4D;
  width: 100%;
}

main .login_register_area .container .row .register_area form .input_title input:focus {
  -webkit-transition: unset;
  transition: unset;
  border: 1px solid #C0362D;
  outline: 2px solid #C0362D;
}

main .login_register_area .container .row .register_area form .birthday {
  width: 100%;
}

main .login_register_area .container .row .register_area form .birthday .input_area {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select {
  width: 40%;
  margin: 1px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .selects {
  width: 100%;
  height: 45px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4D4D4D;
  border: 1px solid #4D4D4D;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 540px) {
  main .login_register_area .container .row .register_area form .birthday .input_area .year_select .selects {
    width: 100%;
  }
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .selects::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(49.9%, #fff), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #fff 0%, #fff 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area {
  border: 1px solid #4D4D4D;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area::-webkit-scrollbar-thumb {
  background: #231714;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area::-webkit-scrollbar-track {
  background: #FFF;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area {
  scrollbar-face-color: #231714;
  scrollbar-track-color: #FFF;
}

@media (max-width: 540px) {
  main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area {
    width: 100%;
  }
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #4D4D4D;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area .option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: #231714;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area .option:last-child::after {
  display: none;
}

main .login_register_area .container .row .register_area form .birthday .input_area .year_select .option_area .option:hover {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select {
  width: 30%;
  margin: 1px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .selects {
  width: 100%;
  height: 45px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4D4D4D;
  border: 1px solid #4D4D4D;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 540px) {
  main .login_register_area .container .row .register_area form .birthday .input_area .month_select .selects {
    width: 100%;
  }
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .selects::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(49.9%, #fff), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #fff 0%, #fff 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area {
  border: 1px solid #4D4D4D;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area::-webkit-scrollbar-thumb {
  background: #231714;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area::-webkit-scrollbar-track {
  background: #FFF;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area {
  scrollbar-face-color: #231714;
  scrollbar-track-color: #FFF;
}

@media (max-width: 540px) {
  main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area {
    width: 100%;
  }
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #4D4D4D;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area .option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: #231714;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area .option:last-child::after {
  display: none;
}

main .login_register_area .container .row .register_area form .birthday .input_area .month_select .option_area .option:hover {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select {
  width: 30%;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .selects {
  width: 100%;
  height: 45px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4D4D4D;
  border: 1px solid #4D4D4D;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 540px) {
  main .login_register_area .container .row .register_area form .birthday .input_area .day_select .selects {
    width: 100%;
  }
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .selects::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(49.9%, #fff), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #fff 0%, #fff 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area {
  border: 1px solid #4D4D4D;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area::-webkit-scrollbar-thumb {
  background: #231714;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area::-webkit-scrollbar-track {
  background: #FFF;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area {
  scrollbar-face-color: #231714;
  scrollbar-track-color: #FFF;
}

@media (max-width: 540px) {
  main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area {
    width: 100%;
  }
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #4D4D4D;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area .option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: #231714;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area .option:last-child::after {
  display: none;
}

main .login_register_area .container .row .register_area form .birthday .input_area .day_select .option_area .option:hover {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}
/*# sourceMappingURL=login&register.css.map */