@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body * {
  font-family: 'Noto Serif TC','Noto Serif JP', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.top_click {
  top: 24px !important;
  left: 17px !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.mid_click {
  opacity: 0 !important;
}

.bot_click {
  top: 24px !important;
  left: 17px !important;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.menu_btn_click {
  border: 1px solid #FFF;
  z-index: 9999;
}

.hidden {
  overflow: hidden;
}

@media (min-width: 1280px) {
  .hidden {
    position: relative;
    left: -9px;
  }
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1530px) {
  .container {
    max-width: 1000px !important;
    width: 70%;
  }
}

@media (max-width: 1279px) {
  .container {
    max-width: 70% !important;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
    width: 95%;
    padding: 0 5%;
  }
}

nav {
  border-top: 9px solid #C0362D;
  color: #231714;
  position: relative !important;
}

@media (max-width: 1279px) {
  nav .container {
    position: relative;
  }
}

@media (max-width: 767px) {
  nav .container {
    width: 95% !important;
  }
}

@media (max-width: 540px) {
  nav .container {
    position: unset;
  }
}

nav .container .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  nav .container .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
}

@media (max-width: 375px) {
  nav .container .row {
    position: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .container .row .logo {
  margin: 31px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  nav .container .row .logo {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
  }
}

@media (max-width: 767px) {
  nav .container .row .logo {
    -webkit-transform: unset;
            transform: unset;
  }
}

nav .container .row .logo .logo_icon {
  width: 89px;
  height: 157px;
  background-image: url("../img/99-LOGO/logo-03.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 767px) {
  nav .container .row .logo .logo_icon {
    width: 80px;
    height: 80px;
    background-image: url("../img/99-LOGO/logo-02.png");
  }
}

nav .container .row .logo .menu_backEnd {
  display: none;
  padding: 10px 0;
}

@media (max-width: 1279px) {
  nav .container .row .logo .menu_backEnd {
    display: block;
  }
}

@media (max-width: 767px) {
  nav .container .row .logo .menu_backEnd {
    padding: 0;
  }
}

@media (max-width: 375px) {
  nav .container .row .logo .menu_backEnd {
    display: none;
  }
}

nav .container .row .logo .menu_backEnd ul li {
  min-width: 24px;
  margin: 0 5px;
}

nav .container .row .logo .menu_backEnd ul li a {
  margin-left: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 14px;
  color: #000;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

@media (max-width: 1279px) {
  nav .container .row .nav_btns {
    display: none;
  }
}

nav .container .row .nav_btns ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 9px 0 7px;
}

nav .container .row .nav_btns ul li a::after {
  content: " ";
  display: block;
  position: relative;
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: #C0362D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 5px;
}

nav .container .row .nav_btns ul li a:hover span {
  color: #C0362D !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a span:nth-child(1) {
  font-size: 18px;
  color: #231714;
  font-weight: 800;
  letter-spacing: 4px;
  line-height: unset;
}

nav .container .row .nav_btns ul li a span:nth-child(2) {
  font-size: 12px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: unset;
}

nav .container .row .menu_Area {
  margin-left: auto;
  position: fixed;
  top: 40px;
  right: 311px;
  z-index: 99;
}

@media (max-width: 1279px) {
  nav .container .row .menu_Area {
    position: absolute;
    top: 31px;
    right: 0;
  }
}

@media (max-width: 375px) {
  nav .container .row .menu_Area {
    top: 0px;
    right: 0px;
  }
}

nav .container .row .menu_Area .menu_btn {
  width: 60px;
  height: 50px;
  background-color: #C0362D;
  border-radius: 0 0 0 50%;
}

nav .container .row .menu_Area .menu_btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

nav .container .row .menu_Area .menu_btn .bar {
  background-color: #FFF;
  width: 26px;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

nav .container .row .menu_Area .menu_btn .top_bar {
  position: absolute;
  top: 17px;
  left: 17px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

nav .container .row .menu_Area .menu_btn .mid_bar {
  position: absolute;
  top: 24px;
  left: 17px;
  opacity: 1;
}

nav .container .row .menu_Area .menu_btn .bot_bar {
  position: absolute;
  top: 31px;
  left: 17px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

nav .container .row .menu_Area .menu_btn_inner_bg {
  position: fixed;
  height: 100%;
  width: 35vw;
  background: #C0362D;
  z-index: 998;
  top: 0;
  right: 0;
}

@media (max-width: 767px) {
  nav .container .row .menu_Area .menu_btn_inner_bg {
    width: 50vw;
  }
}

@media (max-width: 540px) {
  nav .container .row .menu_Area .menu_btn_inner_bg {
    width: 100%;
  }
}

nav .container .row .menu_Area .menu_btn_inner {
  padding: 50px 0;
  display: none;
  height: 80vh;
}

@media (max-width: 767px) {
  nav .container .row .menu_Area .menu_btn_inner {
    width: calc(40vw - 60px);
  }
}

@media (max-width: 540px) {
  nav .container .row .menu_Area .menu_btn_inner {
    padding: 20% 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

nav .container .row .menu_Area .menu_btn_inner ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}

nav .container .row .menu_Area .menu_btn_inner ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .container .row .menu_Area .menu_btn_inner ul li a {
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 540px) {
  nav .container .row .menu_Area .menu_btn_inner ul li a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .container .row .menu_Area .menu_btn_inner ul li a::after {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: -10px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  nav .container .row .menu_Area .menu_btn_inner ul li a::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

nav .container .row .menu_Area .menu_btn_inner ul li a:hover span {
  color: #FFF !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .menu_Area .menu_btn_inner ul li a:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .menu_Area .menu_btn_inner ul li a span:nth-child(1) {
  position: relative;
  right: -4px;
  font-size: 18px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_btn_inner ul li a span:nth-child(2) {
  font-size: 12px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_backEnd {
  max-width: 55px;
  min-width: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1279px) {
  nav .container .row .menu_Area .menu_backEnd {
    display: none;
  }
}

nav .container .row .menu_Area .menu_backEnd ul li {
  width: 24px;
}

nav .container .row .menu_Area .menu_backEnd ul li a {
  margin-left: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 14px;
  color: #231714;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

nav .container .row hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #231714;
}

@media (max-width: 1279px) {
  nav .container .row hr {
    width: 100%;
  }
}

footer {
  background: #1A1A1A;
  height: auto;
}

footer .footer_container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

@media (max-width: 1279px) {
  footer .footer_container .row {
    padding: 40px 0 6px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer_container .row .footer_logo {
  margin: 0 90px 0 0;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_logo {
    margin: 0 10% 0 0;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_logo {
    margin: 0 0 40px;
  }
}

footer .footer_container .row .footer_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .footer_container .row .footer_content .footer_information {
  margin: 9px 0 0;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .footer_information {
    margin: 0;
  }
}

footer .footer_container .row .footer_content .footer_information li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin: 0 0 10px;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_container .row .footer_content .footer_information li:nth-child(1) .footer_information_header {
    display: unset;
    text-align: end;
  }
}

footer .footer_container .row .footer_content .footer_information li .footer_information_header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  border-right: 1px solid #FFF;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li .footer_information_header {
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1;
    display: none;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .footer_container .row .footer_content .footer_information li .footer_information_header2 {
  border-right: 1px solid #FFF;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1;
  text-align: end;
  display: none;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li .footer_information_header2 {
    display: block;
  }
}

footer .footer_container .row .footer_content .footer_information li .footer_information_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li .footer_information_text {
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .footer_container .row .footer_content .copyright_Area {
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 27px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    padding: 35px 0 0;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .copyright_Area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 26px 0 0;
  }
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_top {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_top {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

footer .footer_container .row .footer_content .copyright_Area .copyright_mid {
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_mid {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_mid {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

footer .footer_container .row .footer_content .copyright_Area .copyright_bot {
  border: 1px solid #FFF;
  width: 100%;
  max-width: 490px;
  display: block;
}

@media (max-width: 1530px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_bot {
    width: 90%;
  }
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_bot {
    display: none;
  }
}
/*# sourceMappingURL=nav_footer.css.map */