@import "_function.sass"
.top_click
    top: 24px !important
    left: 17px !important
    transform: rotate(-45deg) !important
.mid_click
    opacity: 0 !important
.bot_click
    top: 24px !important
    left: 17px !important
    transform: rotate(45deg) !important    
.menu_btn_click
    border: 1px solid #FFF
    z-index: 9999
.hidden
    overflow: hidden
a:hover
    text-decoration: none    
.container
    @media ( max-width: 1530px )
        max-width: 1000px !important 
        width: 70%
    @media ( max-width: 1279px )
        max-width: 70% !important 
    @media ( max-width: 767px )
        max-width: 100% !important
        width: 100%
        padding: 0 5%
nav
    border-top: 9px solid $colorOrange 
    color: $colorBlack
    position: relative !important
    .container
        @media ( max-width: 1279px) 
            position: relative
        @media ( max-width: 767px )
            width: 90% !important
        @media ( max-width: 540px) 
            position: unset
        .row
            justify-content: flex-end
            align-items: center
            @media ( max-width: 767px )
                align-items: flex-start
                position: relative
            @media ( max-width: 375px )
                position: unset
                align-items: center
            .logo
                margin: 31px 0 20px
                display: flex
                @media ( max-width: 1279px )
                    transform: translateX(68px)
                @media ( max-width: 767px )
                    transform: unset
                .logo_icon
                    width: 89px
                    height: 157px
                    background-image: url('../img/99-LOGO/logo-03.png')
                    background-position: center
                    background-size: cover
                    @media ( max-width: 767px )
                        width: 80px
                        height: 80px
                        background-image: url('../img/99-LOGO/logo-02.png')
                .menu_backEnd
                    display: none
                    padding: 10px 0
                    @media ( max-width: 1279px )
                        display: block
                    @media ( max-width: 767px )
                        padding: 0
                    @media ( max-width: 375px )
                        display: none
                    ul 
                        li
                            margin: 0 5px
                            a
                                margin-left: 10px
                                writing-mode: vertical-lr
                                +FontStyle(14px,#000,900,7px,1)
            .nav_btns
                @media ( max-width: 1279px)
                    display: none
                ul
                    justify-content: space-around
                    margin: 9px 0 7px
                    li
                        a
                            &::after
                                +before_after_default()
                                display: block
                                opacity: 0
                                width: 100%
                                height: 3px
                                margin-top: 10px
                                background-color: $colorOrange
                                transition: 0.3s
                                bottom: 5px
                            &:hover span
                                color: $colorOrange !important
                                transition: 0.3s
                            &:hover::after
                                opacity: 1
                                transition: 0.3s
                            span
                                transition: 0.3s
                                &:nth-child(1)
                                    +FontStyle(18px,$colorBlack,700,4px)
                                &:nth-child(2)
                                    +FontStyle(12px,$colorBlack,400,3px)    
            .menu_Area
                margin-left: auto 
                position: fixed
                top: 40px
                right: 311px
                z-index: 99
                @media ( max-width: 1279px) 
                    position: absolute
                    top: 31px
                    right: 0
                @media ( max-width: 375px )
                    top: 0px
                    right: 0px
                .menu_btn
                    width: 60px
                    height: 50px
                    background-color: $colorOrange
                    border-radius: 0 0 0 50%
                    &:focus
                        box-shadow: unset
                    .bar
                        background-color: #FFF
                        width: 26px
                        height: 1px
                        transition: 0.3s
                        display: block
                    .top_bar
                        +absolute(17px ,null,null,17px)
                        transform: rotate(0deg)
                    .mid_bar
                        +absolute(24px ,null,null,17px)
                        opacity: 1
                    .bot_bar
                        +absolute(31px ,null,null,17px)
                        transform: rotate(0deg)
                .menu_btn_inner_bg
                    position: fixed
                    height: 100%
                    width: 35vw
                    background: $colorOrange
                    z-index: 998
                    top: 0
                    right: 0
                    @media ( max-width: 767px )
                        width: 50vw
                    @media ( max-width: 540px )
                        width: 100%
                .menu_btn_inner
                    padding: 50px 0
                    display: none
                    height: 80vh
                    @media ( max-width: 767px )
                        width: calc(40vw - 60px)
                    @media ( max-width: 540px )
                        width: calc(90vw - 60px)
                    ul
                        flex-direction: column 
                        justify-content: center
                        align-items: center
                        position: relative
                        height: 100%
                        width: 100% 
                        z-index: 999
                        li
                            flex: 1
                            a
                                &::after
                                    +before_after_default()
                                    opacity: 0
                                    width: 120%
                                    height: 1px
                                    margin-top: 10px
                                    background-color: #FFF 
                                    transition: 0.3s
                                    left: 50%
                                    transform: translateX(-50%)
                                &:hover span
                                    color: #FFF !important
                                    transition: 0.3s
                                &:hover::after
                                    opacity: 1
                                    transition: 0.3s         
                                span
                                    &:nth-child(1)
                                        +FontStyle(18px,#FFF,400,2px)
                                    &:nth-child(2)
                                        +FontStyle(12px,#FFF,400,1px) 
                .menu_backEnd
                    width: 50px
                    @media ( max-width: 1279px )
                        display: none
                    ul
                        li
                            a
                                margin-left: 10px
                                writing-mode: vertical-lr
                                +FontStyle(14px,$colorBlack,900,7px,1)
            hr
                border: 0
                height: 1px
                width: 98%
                background: $colorBlack
                @media ( max-width: 1279px )
                    width: 100%
footer
    background: #1A1A1A
    height: auto
    .footer_container
        .row
            justify-content: space-between
            align-items: center
            padding: 40px 0 
            @media ( max-width: 1279px )
                align-items: flex-start
            @media ( max-width: 767px )
                align-items: center
                flex-direction: column
            .footer_logo
                margin: 0 90px 0 0
                @media ( max-width: 1279px )
                    margin: 0 10% 0 0
                @media ( max-width: 767px )
                    margin: 0 0 40px
            .footer_content
                flex: 1 1 auto
                display: flex
                @media ( max-width: 1279px )
                    flex-direction: column
                .footer_information
                    margin: 0
                    li
                        display: flex
                        white-space: nowrap
                        margin: 0 0 10px
                        @media ( max-width: 767px )
                            justify-content: center
                            
                            &:nth-child(1)
                                .footer_information_header
                                    display: unset
                                    text-align: end
                        .footer_information_header
                            flex: 0 0 80px
                            border-right: 1px solid #FFF
                            margin-right: 10px  
                            padding-right: 10px 
                            +FontStyle(14px,#FFF,400,5px,1)
                            @media ( max-width: 767px )
                                +FontStyle(14px,#FFF,400,5px,1)
                                display: none
                                flex: unset                    
                        .footer_information_header2
                            border-right: 1px solid #FFF
                            margin-right: 10px 
                            padding-right: 10px 
                            +FontStyle(14px,#FFF,400,5px,1)
                            text-align: end
                            display: none
                            @media ( max-width: 767px )
                                display: block
                        .footer_information_text
                            flex: 1 1 auto
                            +FontStyle(14px,#FFF,400,2px,1)
                            @media ( max-width: 767px )
                                +FontStyle(14px,#FFF,400,2px,1)
                                flex: unset
                .copyright_Area
                    +FontStyle(14px,#FFF,400,2px,27px)
                    flex: 1 1 auto
                    flex-direction: column
                    align-items: flex-end
                    @media ( max-width: 1279px )
                        flex: unset
                        padding: 50px 0 0
                    @media ( max-width: 767px )
                        align-items: center
                    .copyright_top
                        @media ( max-width: 1279px )
                            align-self: start
                        @media ( max-width: 767px )
                            align-self: unset
                    .copyright_mid
                        margin-bottom: 30px
                        @media ( max-width: 1279px )
                            align-self: start
                        @media ( max-width: 767px )
                            align-self: unset
                    .copyright_bot
                        border: 1px solid #FFF
                        width: 100%
                        max-width: 490px
                        display: block
                        @media ( max-width: 1530px )
                            width: 90%
                        @media ( max-width: 1279px )
                            display: none