body {
  font-family: 'Noto Serif TC';
}

.top_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.mid_click {
  opacity: 0 !important;
}

.bot_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.menu_btn_click {
  border: 1px solid #FFF;
  z-index: 9999;
}

.menu_btn_inner_click {
  display: block !important;
}

.hidden {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1279px) {
  .container {
    max-width: 70% !important;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
    padding: 0 5%;
  }
}

nav {
  border-top: 9px solid #C0362D;
  color: #231714;
  position: relative !important;
}

@media (max-width: 767px) {
  nav .container {
    width: 90% !important;
  }
}

nav .container .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  nav .container .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
}

@media (max-width: 375px) {
  nav .container .row {
    position: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .container .row .logo {
  margin: 50px 0 20px;
  width: 89px;
  height: 157px;
  background-image: url("../img/99-LOGO/logo_white.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 767px) {
  nav .container .row .logo {
    width: 80px;
    height: 80px;
    background-image: url("../img/99-LOGO/logo-01.png");
  }
}

nav .container .row .logo .menu_backEnd {
  display: none;
  width: 250px;
  padding: 10px 0;
}

@media (max-width: 1279px) {
  nav .container .row .logo .menu_backEnd {
    display: block;
  }
}

@media (max-width: 767px) {
  nav .container .row .logo .menu_backEnd {
    padding: 0;
    width: 230px;
  }
}

@media (max-width: 375px) {
  nav .container .row .logo .menu_backEnd {
    display: none;
  }
}

nav .container .row .logo .menu_backEnd ul li {
  margin: 0 5px;
}

nav .container .row .logo .menu_backEnd ul li a {
  margin-left: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 14px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

@media (max-width: 1279px) {
  nav .container .row .nav_btns {
    display: none;
  }
}

nav .container .row .nav_btns ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .container .row .nav_btns ul li a::after {
  content: " ";
  display: block;
  position: relative;
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: #C0362D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 5px;
}

nav .container .row .nav_btns ul li a:hover span {
  color: #C0362D !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a span:nth-child(1) {
  font-size: 18px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 31px;
}

nav .container .row .nav_btns ul li a span:nth-child(2) {
  font-size: 12px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 31px;
}

nav .container .row .menu_Area {
  margin-left: auto;
  position: fixed;
  top: 50px;
  right: 5%;
  z-index: 99;
}

@media (max-width: 1279px) {
  nav .container .row .menu_Area {
    position: absolute;
    top: 50px;
    right: 5%;
  }
}

@media (max-width: 375px) {
  nav .container .row .menu_Area {
    top: 0px;
    right: 0px;
  }
}

nav .container .row .menu_Area .menu_btn {
  width: 50px;
  height: 50px;
  background-color: #C0362D;
  border-radius: 0 0 0 50%;
}

nav .container .row .menu_Area .menu_btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

nav .container .row .menu_Area .menu_btn .bar {
  background-color: #FFF;
  width: 26px;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

nav .container .row .menu_Area .menu_btn .top_bar {
  position: absolute;
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

nav .container .row .menu_Area .menu_btn .mid_bar {
  position: absolute;
  top: 24px;
  left: 12px;
  opacity: 1;
}

nav .container .row .menu_Area .menu_btn .bot_bar {
  position: absolute;
  top: 31px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

nav .container .row .menu_Area .menu_btn_inner {
  position: fixed;
  height: 100%;
  width: 50vw;
  background: #C0362D;
  top: 0;
  z-index: 998;
  right: 0;
  padding: 100px 0;
  display: none;
}

@media (max-width: 767px) {
  nav .container .row .menu_Area .menu_btn_inner {
    width: 100%;
  }
}

nav .container .row .menu_Area .menu_btn_inner ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}

nav .container .row .menu_Area .menu_btn_inner ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .container .row .menu_Area .menu_btn_inner ul li a::after {
  content: " ";
  display: block;
  position: relative;
  opacity: 0;
  width: 120%;
  height: 1px;
  margin-top: 10px;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .container .row .menu_Area .menu_btn_inner ul li a:hover span {
  color: #FFF !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .menu_Area .menu_btn_inner ul li a:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .menu_Area .menu_btn_inner ul li a span:nth-child(1) {
  font-size: 18px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_btn_inner ul li a span:nth-child(2) {
  font-size: 12px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_backEnd {
  width: 50px;
}

@media (max-width: 1279px) {
  nav .container .row .menu_Area .menu_backEnd {
    display: none;
  }
}

nav .container .row .menu_Area .menu_backEnd ul li a {
  margin-left: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 14px;
  color: #231714;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

nav .container .row hr {
  border: 0;
  height: 1px;
  width: 94%;
  background: #231714;
}

footer {
  background: #1A1A1A;
  height: 161px;
}

@media (max-width: 1279px) {
  footer {
    height: auto;
  }
}

footer .footer_container {
  height: 100%;
}

footer .footer_container .row {
  padding: 40px 0;
  height: 100%;
}

@media (max-width: 767px) {
  footer .footer_container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer_container .row .footer_logo {
  margin: 0 65px;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_logo {
    margin: 0 0 40px;
  }
}

footer .footer_container .row .footer_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer_container .row .footer_content .footer_information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 351px;
          flex: 0 0 351px;
  height: 66px;
  width: 351px;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .footer_information {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

@media (max-width: 540px) {
  footer .footer_container .row .footer_content .footer_information {
    width: 100%;
  }
}

footer .footer_container .row .footer_content .footer_information li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_container .row .footer_content .footer_information li:nth-child(1) .footer_information_header {
    display: unset;
    text-align: end;
  }
}

footer .footer_container .row .footer_content .footer_information li .footer_information_header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  border-right: 1px solid #FFF;
  margin-right: 10px;
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: unset;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li .footer_information_header {
    display: none;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .footer_container .row .footer_content .footer_information li .footer_information_header2 {
  border-right: 1px solid #FFF;
  margin-right: 10px;
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: unset;
  text-align: end;
  display: none;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li .footer_information_header2 {
    display: block;
  }
}

footer .footer_container .row .footer_content .footer_information li .footer_information_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .footer_information li .footer_information_text {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .footer_container .row .footer_content .copyright_Area {
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    padding: 50px 0 0;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .copyright_Area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer_container .row .footer_content .copyright_Area .copyright_top {
  margin-bottom: 10px;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_top {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_top {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

footer .footer_container .row .footer_content .copyright_Area .copyright_mid {
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_mid {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 767px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_mid {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

footer .footer_container .row .footer_content .copyright_Area .copyright_bot {
  border: 1px solid #FFF;
  width: 100%;
  max-width: 490px;
  display: block;
}

@media (max-width: 1279px) {
  footer .footer_container .row .footer_content .copyright_Area .copyright_bot {
    display: none;
  }
}
/*# sourceMappingURL=nav_footer.css.map */