@import "_function.sass"
main
    .mask
        position: absolute
        top: 0px
        left: 20px
        width: calc(100% - 40px)
        z-index: -9999
        background-color: #ebebeb
        @media ( max-width: 1279px )
            display: none
    .header
        padding: 21px 0 37px
        .header_container
            .row
                align-items: flex-end
                .header_content
                    +FontStyle(32px,$colorBlack,700,7px,1) 
                    @media ( max-width: 540px )
                        +FontStyle(22px,$colorBlack,700,7px,31px) 
                .header_btns
                    .news_btn
                        +FontStyle(16px,$colorOrange,700,3px,1) 
                        border-right: 1px solid $colorBlack
                        padding: 0 30px
                        cursor: pointer
                        @media ( max-width: 540px )
                            +FontStyle(12px,$colorOrange,700,3px,1) 
                    .medias_btn
                        +FontStyle(16px,$colorBlack,700,3px,1) 
                        padding: 0 30px
                        cursor: pointer
                        @media ( max-width: 540px )
                            +FontStyle(12px,$colorBlack,700,3px,1) 
    .news
        display: block
        .news_container
            .row
                .news_content
                    margin-bottom: 60px
                    .news_img_area
                        position: relative
                        overflow: hidden
                        margin-bottom: 20px
                        &:hover .news_img_hover
                            opacity: 1
                            &::before
                                opacity: 1
                        .news_img
                            width: 100%
                            height: 290px   
                            background-size: cover
                            background-position: center 
                            background-color: #C5362D 
                        .news_img_text
                            +FontStyle(329px,#FFF,600,5px,31px) 
                            position: absolute
                            right: -18px
                            bottom: 137px
                        .news_img_hover
                            width: 100%
                            height: 100%
                            padding: 20px 40px
                            opacity: 0
                            display: flex
                            flex-direction: column
                            position: absolute
                            justify-content: flex-end
                            top: 0
                            left: 0
                            background-color: rgba(#000, .9)
                            &::before
                                opacity: 0
                                content: ""
                                width: calc( 100% - 40px )
                                height: calc( 100% - 20px )
                                border: 1px solid rgba(#FFF, 0.5)
                                position: absolute
                                top: 10px
                                left: 20px
                            .hover_title
                                span
                                    +FontStyle(19px,#FFF,600,3px,22px)
                                    &:nth-child(1)
                                        +FontStyle(43px,#FFF,600,3px,50px)
                            hr
                                width: 50%
                                margin: 10px 0   
                                height: 1px
                                background: #FFF
                            p
                                overflow: hidden
                                text-overflow: ellipsis
                                display: -webkit-box
                                -webkit-box-orient: vertical
                                -webkit-line-clamp: 2
                                width: 50%
                                +FontStyle(14px,#FFF,600,3px,20px)
                            .hover_btn
                                width: 54px
                                height: 36px
                                position: absolute
                                bottom: 50px
                                right: 60px
                                background-image: url("../img/99-LOGO/hover.png")
                                background-size: cover
                                background-position: center

                    .news_title
                        +FontStyle(18px,$colorBlack,600,5px,31px) 
                    .news_date
                        +FontStyle(14px,#4d4d4d,600,3px,20px) 
    .medias
        display: none
        .medias_container
            .row
                .medias_content
                    margin-bottom: 60px
                    .medias_img_area
                        position: relative
                        overflow: hidden
                        margin-bottom: 20px
                        &:hover .medias_btn svg rect
                            transition: 0s !important
                            fill: #FF0000   
                        .medias_img
                            width: 100%
                            height: 290px  
                            background-position: center
                            background-size: cover
                        .medias_img[poster]
                            object-fit: cover
                        .medias_btn
                            position: absolute
                            top: 0
                            left: 0
                            opacity: 1
                            width: 100% 
                            height: 100%
                            svg
                                width: 68px 
                                height: 47px
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translate(-50%,-50%)
                                z-index: 5
                                rect
                                    fill: #000
                                    opacity: 0.8
                                    transition: 0s !important
                    .medias_content.click
                        margin-bottom: 40px
                    .medias_title
                        display: flex
                        span
                            +FontStyle(18px,$colorBlack,600,5px,31px) 
                        .medias_more
                            width: 120px
                            height: 40px
                            display: flex
                            justify-content: center
                            align-items: center
                            margin-left: auto
                            border: 1px solid #000
                            +FontStyle(14px,#4d4d4d,600,3px,23px) 
                        .medias_text_btn
                            width: 30px
                            height: 30px
                            margin-left: auto
                            .plus
                                height: 5px
                                width: 30px
                                top: 50%
                                left: 50%
                                background-color: #C5362D
                            .plus1
                                transform: translate(-50%) rotate(90deg)
                            .plus1.rotate
                                transform: translate(-50%) rotate(360deg)
                            .plus2
                                transform: translate(-50%)
                    .medias_date
                        +FontStyle(14px,#4d4d4d,600,3px,20px) 
                        margin-bottom: 20px
                    
                    .medias_text
                        p
                            +FontStyle(14px,#4d4d4d,400,3px,27px) 
                            width: 375px
                            margin: 0

    .news_list
        display: block
        margin-bottom: 80px
        .change_list_container
            .row
                .btn-group
                    a
                        position: relative
                        border: unset
                        background-color: unset
                        &:hover::before
                            opacity: 1
                        &:hover span
                            color: #FFF
                            
                        span
                            +FontStyle(18px,#4d4d4d,600,3px,31px) 
                        &::before
                            content: ""
                            opacity: 0
                            width: 22px
                            height: 22px
                            border-radius: 50%
                            background-color: #C5362D 
                            position: absolute
                            top: 55%
                            left: 50%
                            z-index: -1
                            transform: translate(-53%,-50%)

    .medias_list
        display: none
        margin-bottom: 80px
        .change_list_container
           .row
                .btn-group
                    a
                        position: relative
                        border: unset
                        background-color: unset
                        &:hover::before
                            opacity: 1
                        &:hover span
                            color: #FFF
                            
                        span
                            +FontStyle(18px,#4d4d4d,600,3px,31px) 
                        &::before
                            content: ""
                            opacity: 0
                            width: 22px
                            height: 22px
                            border-radius: 50%
                            background-color: #C5362D 
                            position: absolute
                            top: 55%
                            left: 50%
                            z-index: -1
                            transform: translate(-53%,-50%)