@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 37px;
}

main .header .header_container .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .header .header_container .row .header_content {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .header_container .row .header_btns .news_btn {
  font-size: 16px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  border-right: 1px solid #231714;
  padding: 0 30px;
  cursor: pointer;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .news_btn {
    font-size: 12px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
  }
}

main .header .header_container .row .header_btns .medias_btn {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  padding: 0 30px;
  cursor: pointer;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .medias_btn {
    font-size: 12px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
  }
}

main .news {
  display: block;
}

main .news .news_container .row .news_content {
  margin-bottom: 60px;
}

main .news .news_container .row .news_content .news_img_area {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

main .news .news_container .row .news_content .news_img_area:hover .news_img_hover {
  opacity: 1;
}

main .news .news_container .row .news_content .news_img_area:hover .news_img_hover::before {
  opacity: 1;
}

main .news .news_container .row .news_content .news_img_area .news_img {
  width: 100%;
  height: 290px;
  background-size: cover;
  background-position: center;
  background-color: #C5362D;
}

main .news .news_container .row .news_content .news_img_area .news_img_text {
  font-size: 329px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 31px;
  position: absolute;
  right: -18px;
  bottom: 137px;
}

main .news .news_container .row .news_content .news_img_area .news_img_hover {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

main .news .news_container .row .news_content .news_img_area .news_img_hover::before {
  opacity: 0;
  content: "";
  width: calc( 100% - 40px);
  height: calc( 100% - 20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10px;
  left: 20px;
}

main .news .news_container .row .news_content .news_img_area .news_img_hover .hover_title span {
  font-size: 19px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 22px;
}

main .news .news_container .row .news_content .news_img_area .news_img_hover .hover_title span:nth-child(1) {
  font-size: 43px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
}

main .news .news_container .row .news_content .news_img_area .news_img_hover hr {
  width: 50%;
  margin: 10px 0;
  height: 1px;
  background: #FFF;
}

main .news .news_container .row .news_content .news_img_area .news_img_hover p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 50%;
  font-size: 14px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 20px;
}

main .news .news_container .row .news_content .news_img_area .news_img_hover .hover_btn {
  width: 54px;
  height: 36px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  background-image: url("../img/99-LOGO/hover.png");
  background-size: cover;
  background-position: center;
}

main .news .news_container .row .news_content .news_title {
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 31px;
}

main .news .news_container .row .news_content .news_date {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 20px;
}

main .medias {
  display: none;
}

main .medias .medias_container .row .medias_content {
  margin-bottom: 60px;
}

main .medias .medias_container .row .medias_content .medias_img_area {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

main .medias .medias_container .row .medias_content .medias_img_area:hover .medias_btn svg rect {
  -webkit-transition: 0s !important;
  transition: 0s !important;
  fill: #FF0000;
}

main .medias .medias_container .row .medias_content .medias_img_area .medias_img {
  width: 100%;
  height: 290px;
  background-position: center;
  background-size: cover;
}

main .medias .medias_container .row .medias_content .medias_img_area .medias_img[poster] {
  -o-object-fit: cover;
     object-fit: cover;
}

main .medias .medias_container .row .medias_content .medias_img_area .medias_btn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
}

main .medias .medias_container .row .medias_content .medias_img_area .medias_btn svg {
  width: 68px;
  height: 47px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

main .medias .medias_container .row .medias_content .medias_img_area .medias_btn svg rect {
  fill: #000;
  opacity: 0.8;
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

main .medias .medias_container .row .medias_content .medias_content.click {
  margin-bottom: 40px;
}

main .medias .medias_container .row .medias_content .medias_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .medias .medias_container .row .medias_content .medias_title span {
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 31px;
}

main .medias .medias_container .row .medias_content .medias_title .medias_more {
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  border: 1px solid #000;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 23px;
}

main .medias .medias_container .row .medias_content .medias_title .medias_text_btn {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

main .medias .medias_container .row .medias_content .medias_title .medias_text_btn .plus {
  height: 5px;
  width: 30px;
  top: 50%;
  left: 50%;
  background-color: #C5362D;
}

main .medias .medias_container .row .medias_content .medias_title .medias_text_btn .plus1 {
  -webkit-transform: translate(-50%) rotate(90deg);
          transform: translate(-50%) rotate(90deg);
}

main .medias .medias_container .row .medias_content .medias_title .medias_text_btn .plus1.rotate {
  -webkit-transform: translate(-50%) rotate(360deg);
          transform: translate(-50%) rotate(360deg);
}

main .medias .medias_container .row .medias_content .medias_title .medias_text_btn .plus2 {
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .medias .medias_container .row .medias_content .medias_date {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 20px;
  margin-bottom: 20px;
}

main .medias .medias_container .row .medias_content .medias_text p {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 27px;
  width: 375px;
  margin: 0;
}

main .news_list {
  display: block;
  margin-bottom: 80px;
}

main .news_list .change_list_container .row .btn-group a {
  position: relative;
  border: unset;
  background-color: unset;
}

main .news_list .change_list_container .row .btn-group a:hover::before {
  opacity: 1;
}

main .news_list .change_list_container .row .btn-group a:hover span {
  color: #FFF;
}

main .news_list .change_list_container .row .btn-group a span {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 31px;
}

main .news_list .change_list_container .row .btn-group a::before {
  content: "";
  opacity: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #C5362D;
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-53%, -50%);
          transform: translate(-53%, -50%);
}

main .medias_list {
  display: none;
  margin-bottom: 80px;
}

main .medias_list .change_list_container .row .btn-group a {
  position: relative;
  border: unset;
  background-color: unset;
}

main .medias_list .change_list_container .row .btn-group a:hover::before {
  opacity: 1;
}

main .medias_list .change_list_container .row .btn-group a:hover span {
  color: #FFF;
}

main .medias_list .change_list_container .row .btn-group a span {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 31px;
}

main .medias_list .change_list_container .row .btn-group a::before {
  content: "";
  opacity: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #C5362D;
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-53%, -50%);
          transform: translate(-53%, -50%);
}
/*# sourceMappingURL=news.css.map */