@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main {
  text-align: justify;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 37px;
}

@media (max-width: 540px) {
  main .header {
    padding: 16px 0 22px;
  }
}

main .header .header_container .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .header .header_container .row .header_content {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .header_container .row .header_btns .news_btn {
  font-size: 16px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  border-right: 1px solid #231714;
  padding: 0 30px;
  cursor: pointer;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .news_btn {
    font-size: 12px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    padding: 0 5px;
  }
}

main .header .header_container .row .header_btns .medias_btn {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  padding: 0 30px;
  cursor: pointer;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .medias_btn {
    font-size: 12px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    padding: 0 5px;
  }
}

main .news_img {
  width: 100%;
  margin-bottom: 60px;
}

@media (max-width: 540px) {
  main .news_img {
    margin-bottom: 30px;
  }
}

main .news_img .swiper-container {
  width: 1280px;
  height: 680px;
}

@media (max-width: 1530px) {
  main .news_img .swiper-container {
    max-width: 1000px !important;
    width: 70%;
    height: 500px;
  }
}

@media (max-width: 1279px) {
  main .news_img .swiper-container {
    max-width: 70% !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  main .news_img .swiper-container {
    max-width: 100% !important;
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 540px) {
  main .news_img .swiper-container {
    height: 172px;
  }
}

main .news_img .swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news_img .swiper-container .swiper-wrapper .swiper-slide {
  background-size: cover;
  background-position: center;
}

main .news_information {
  margin-bottom: 150px;
}

main .news_information .information_container {
  padding: 0;
}

@media (max-width: 767px) {
  main .news_information .information_container {
    padding: 0 5%;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper {
  width: 100%;
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: auto;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date {
  width: 205px;
}

@media (max-width: 1530px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date {
    width: 200px;
  }
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date {
    width: unset;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span {
  font-size: 40px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span {
    font-size: 21px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 35px;
    display: none;
  }
}

@media (max-width: 540px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span {
    font-size: 12px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 68px;
  }
}

@media (max-width: 320px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span {
    font-size: 12px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    margin-bottom: 10px;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span:nth-child(3) {
  font-size: 21px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 35px;
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span:nth-child(4) {
  display: none;
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date span:nth-child(4) {
    display: block;
  }
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_date br {
    display: none;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content {
  width: 935px;
}

@media (max-width: 1530px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content {
    width: 800px;
  }
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content {
    width: 100%;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content .news_title {
  font-size: 22px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 31px;
  margin-bottom: 50px;
}

@media (max-width: 540px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content .news_title {
    margin-bottom: 45px;
    font-size: 14px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 25px;
  }
}

main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content .news_text {
  font-size: 18px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 34px;
}

@media (max-width: 540px) {
  main .news_information .information_container .swiper-container .swiper-wrapper .swiper-slide .news_content .news_text {
    font-size: 12px;
    color: #231714;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23px;
  }
}

main .news_information .information_container .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0px;
  top: 120px;
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 5%;
    top: -100px;
  }
}

@media (max-width: 540px) {
  main .news_information .information_container .swiper-pagination {
    top: -50px;
  }
}

main .news_information .information_container .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  border: 1px solid #000;
  opacity: 1;
}

@media (max-width: 767px) {
  main .news_information .information_container .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    border: 1px solid #FFF;
    background-color: #FFF;
  }
}

main .news_information .information_container .swiper-pagination .swiper-pagination-bullet-active {
  background: unset;
}

main .news_information .information_container .page_btn {
  position: absolute;
  bottom: -55px;
  right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1530px) {
  main .news_information .information_container .page_btn {
    right: 0px;
  }
}

@media (max-width: 767px) {
  main .news_information .information_container .page_btn {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

main .news_information .information_container .page_btn .line {
  width: 1px;
  height: 29px;
  z-index: 6;
  background-color: #231714;
}

main .news_information .information_container .page_btn .swiper-button-prev {
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  margin-top: unset;
  color: #000;
  width: 20px;
  height: 29px;
}

main .news_information .information_container .page_btn .swiper-button-prev::after {
  content: "<";
  font-size: 29px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
}

main .news_information .information_container .page_btn .swiper-button-next {
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  margin-top: unset;
  color: #000;
  width: 20px;
  height: 29px;
}

main .news_information .information_container .page_btn .swiper-button-next::after {
  content: ">";
  font-size: 29px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
}

main .news_information .information_container .page_btn .swiper-button-disabled {
  opacity: 0;
}
/*# sourceMappingURL=news_info.css.map */