main
    .mask
        position: absolute
        top: 0px
        left: 20px
        width: calc(100% - 40px)
        z-index: -9999
        background-color: #ebebeb
        @media ( max-width: 1279px )
            display: none
    .header
        .header_container
            .row
                .header_content
                .header_btns
                    .news_btn
                    .videos_btn
    .news
        .news_container
            .row
                .news_content
                    .news_img_area
                        img
                        .news_img_text
                        .news_img_hover
                            .hover_title
                                span
                            hr
                            p
                            .hover_btn
                    .news_title
                    .news_date
    .videos
        display: none
