@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 70px;
}

@media (max-width: 1279px) {
  main .header {
    padding: 21px 0 45px;
  }
}

main .header .header_container .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1279px) {
  main .header .header_container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .header .header_container .row .header_content {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
}

@media (max-width: 1279px) {
  main .header .header_container .row .header_content {
    margin-bottom: 22px;
  }
  main .header .header_container .row .header_content span {
    display: none;
  }
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .header_container .row .header_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 210px;
  }
}

main .header .header_container .row .header_btns .header_btn {
  position: relative;
  padding: 0 15px;
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  border-right: 1px solid #231714;
}

@media (max-width: 810px) {
  main .header .header_container .row .header_btns .header_btn {
    padding: 0 10px;
  }
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .header_btn {
    font-size: 18px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
  }
}

main .header .header_container .row .header_btns .header_btn::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc( 100% - 32px);
  height: 1px;
  background-color: #C0362D;
  opacity: 0;
}

@media (max-width: 810px) {
  main .header .header_container .row .header_btns .header_btn::after {
    width: calc( 100% - 24px);
  }
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .header_btn:nth-child(1) {
    margin-bottom: 25px;
  }
}

main .header .header_container .row .header_btns .header_btn:nth-child(2) {
  font-size: 22px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}

main .header .header_container .row .header_btns .header_btn:nth-child(2)::after {
  opacity: 1;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .header_btn:nth-child(2) {
    font-size: 18px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    border-right: unset;
    margin-bottom: 25px;
  }
}

main .header .header_container .row .header_btns .header_btn:nth-child(3) {
  display: none;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .header_btn:nth-child(3) {
    display: block;
  }
}

main .header .header_container .row .header_btns .header_btn:last-child {
  border-right: unset;
}

main .order .order_table .container .row {
  margin: 0;
}

main .order .order_table .container .row .order_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6%;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #231714;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info {
    padding-left: unset;
    padding-top: 25px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
    border: 1px solid #959595;
  }
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .order_card {
    margin-bottom: 10px;
  }
}

main .order .order_table .container .row .order_info .order_card span {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

main .order .order_table .container .row .order_info .order_card span:nth-child(1) {
  display: none;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .order_card span:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

@media (max-width: 320px) {
  main .order .order_table .container .row .order_info .order_card span:nth-child(1) {
    font-size: 12px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main .order .order_table .container .row .order_info .order_card span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .order_card span:nth-child(2) {
    padding-left: 20px;
    font-size: 18px;
    color: #959595;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 60%;
  }
}

@media (max-width: 320px) {
  main .order .order_table .container .row .order_info .order_card span:nth-child(2) {
    font-size: 12px;
    color: #959595;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main .order .order_table .container .row .order_info .order_card:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .order_card:last-child a {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

@media (max-width: 320px) {
  main .order .order_table .container .row .order_info .order_card:last-child a {
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main .order .order_table .container .row .order_info .id {
  width: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .id {
    width: 100%;
  }
}

main .order .order_table .container .row .order_info .date {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .date {
    width: 100%;
  }
}

main .order .order_table .container .row .order_info .price {
  width: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .price {
    width: 100%;
  }
}

main .order .order_table .container .row .order_info .status {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .status {
    padding-bottom: 15px;
    width: 100%;
  }
}

main .order .order_table .container .row .order_info .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info .detail {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    background-color: #959595;
  }
}

main .order .order_table .container .row .order_info:nth-child(1) {
  height: 60px;
  border-top: 2px solid #231714;
  border-bottom: 2px solid #231714;
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info:nth-child(1) {
    display: none;
  }
}

main .order .order_table .container .row .order_info:nth-child(2n+1) {
  background-color: #E5E5E5;
}

@media (max-width: 1279px) {
  main .order .order_table .container .row .order_info:nth-child(2n+1) {
    background-color: unset;
  }
}

main .page_btn {
  margin: 80px 0;
}

main .page_btn .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .page_btn .container .row .btn-group a {
  position: relative;
  border: unset;
  background-color: unset;
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 31px;
}

main .page_btn .container .row .btn-group a:hover::before {
  opacity: 1;
}

main .page_btn .container .row .btn-group a:hover span {
  color: #FFF;
}

main .page_btn .container .row .btn-group a::before {
  content: "";
  opacity: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #C5362D;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-53%, -50%);
          transform: translate(-53%, -50%);
}
/*# sourceMappingURL=order.css.map */