.top_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.mid_click {
  opacity: 0 !important;
}

.bot_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.menu_btn_click {
  border: 1px solid #FFF;
  z-index: 9999;
}

.menu_btn_inner_click {
  display: block !important;
}

.hidden {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

nav {
  border-top: 9px solid #C0362D;
  color: #231714;
}

@media (max-width: 1240px) {
  nav .container {
    max-width: 960px;
  }
}

@media (max-width: 1090px) {
  nav .container {
    max-width: 720px;
  }
}

@media (max-width: 820px) {
  nav .container {
    max-width: 540px;
  }
}

@media (max-width: 610px) {
  nav .container {
    width: 455px;
  }
}

@media (max-width: 475px) {
  nav .container {
    width: 100%;
    padding: 30px;
  }
}

nav .container .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 475px) {
  nav .container .row {
    height: 179px;
  }
}

nav .container .row .logo {
  margin: 50px 0;
}

@media (max-width: 820px) {
  nav .container .row .nav_btns {
    display: none;
  }
}

nav .container .row .nav_btns ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .container .row .nav_btns ul li a::after {
  content: " ";
  display: block;
  position: relative;
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: #C0362D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a:hover span {
  color: #C0362D !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .nav_btns ul li a span:nth-child(1) {
  font-size: 18px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .nav_btns ul li a span:nth-child(2) {
  font-size: 12px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .menu_Area {
  margin-left: auto;
  position: fixed;
  top: 50px;
  right: calc( (100% - 1140px) / 2 - 5%);
}

@media (max-width: 1400px) {
  nav .container .row .menu_Area {
    right: calc( (100% - 1140px) / 2 - 2%);
  }
}

@media (max-width: 1240px) {
  nav .container .row .menu_Area {
    right: calc( (100% - 960px) / 2 - 5%);
  }
}

@media (max-width: 1090px) {
  nav .container .row .menu_Area {
    right: calc( (100% - 720px) / 2 - 5%);
  }
}

@media (max-width: 820px) {
  nav .container .row .menu_Area {
    right: calc( (100% - 540px) / 2 - 5%);
  }
}

@media (max-width: 610px) {
  nav .container .row .menu_Area {
    right: calc( (100% - 455px) / 2 - 5%);
  }
}

@media (max-width: 475px) {
  nav .container .row .menu_Area {
    right: 5%;
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 610px) {
  nav .container .row .menu_Area {
    margin-left: unset;
  }
}

nav .container .row .menu_Area .menu_btn {
  width: 50px;
  height: 50px;
  background-color: #C0362D;
  border-radius: 0 0 0 50%;
}

nav .container .row .menu_Area .menu_btn .bar {
  background-color: #FFF;
  width: 26px;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

nav .container .row .menu_Area .menu_btn .top_bar {
  position: absolute;
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

nav .container .row .menu_Area .menu_btn .mid_bar {
  position: absolute;
  top: 24px;
  left: 12px;
  opacity: 1;
}

nav .container .row .menu_Area .menu_btn .bot_bar {
  position: absolute;
  top: 31px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

nav .container .row .menu_Area .menu_btn_inner {
  position: fixed;
  height: 100%;
  width: 50vw;
  background: #C0362D;
  top: 0;
  z-index: 998;
  right: 0;
  padding: 100px 0;
  display: none;
}

nav .container .row .menu_Area .menu_btn_inner ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}

nav .container .row .menu_Area .menu_btn_inner ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .container .row .menu_Area .menu_btn_inner ul li a::after {
  content: " ";
  display: block;
  position: relative;
  opacity: 0;
  width: 120%;
  height: 1px;
  margin-top: 10px;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .container .row .menu_Area .menu_btn_inner ul li a:hover span {
  color: #FFF !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .menu_Area .menu_btn_inner ul li a:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container .row .menu_Area .menu_btn_inner ul li a span:nth-child(1) {
  font-size: 18px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_btn_inner ul li a span:nth-child(2) {
  font-size: 12px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_backEnd {
  width: 50px;
}

nav .container .row .menu_Area .menu_backEnd ul li a {
  margin-left: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 14px;
  color: #231714;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #333;
}

footer {
  background: #1A1A1A;
  height: 161px;
}

@media (max-width: 991px) {
  footer {
    height: auto;
  }
}

footer .footer_container {
  height: 100%;
}

footer .footer_container .row {
  padding: 40px 0;
  height: 100%;
}

@media (max-width: 991px) {
  footer .footer_container .row {
    margin: 0;
  }
}

footer .footer_container .row .footer_logo {
  margin: 0 65px;
}

@media (max-width: 991px) {
  footer .footer_container .row .footer_logo {
    margin: 0 0 30px;
  }
}

footer .footer_container .row .footer_information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 351px;
          flex: 0 0 351px;
  height: 66px;
  width: 351px;
}

@media (max-width: 991px) {
  footer .footer_container .row .footer_information {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin: 0 0 30px;
    width: 100%;
  }
}

footer .footer_container .row .footer_information li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  white-space: nowrap;
}

footer .footer_container .row .footer_information li .footer_information_header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  border-right: 1px solid #FFF;
  margin-right: 10px;
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: unset;
}

footer .footer_container .row .footer_information li .footer_information_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
}

footer .footer_container .row .copyright_Area {
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1023px) {
  footer .footer_container .row .copyright_Area {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .footer_container .row .copyright_Area .copyright_top {
  margin-bottom: 10px;
}

footer .footer_container .row .copyright_Area .copyright_mid {
  margin-bottom: 30px;
}

footer .footer_container .row .copyright_Area .copyright_bot {
  border: 1px solid #FFF;
  width: 100%;
  max-width: 490px;
}
/*# sourceMappingURL=ourstory.css.map */