body {
  font-family: 'Noto Serif TC';
}

@media (max-width: 1279px) {
  body {
    background: #ededed;
  }
}

nav .container .row .nav_btns ul li a::after {
  content: " ";
  display: block;
  position: relative;
  background-color: #C0362D;
}

nav .container .row .nav_btns ul li a:hover span {
  color: #C0362D !important;
}

nav .container .row .nav_btns ul li a span:nth-child(1) {
  font-size: 18px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .nav_btns ul li a span:nth-child(2) {
  font-size: 12px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .menu_Area .menu_backEnd ul li a {
  font-size: 14px;
  color: #FFF;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

nav .container .row hr {
  background: #FFF;
}

main {
  text-align: justify;
}

main::before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../img/01-OurStory/DSC_9239.jpg");
  background-size: cover;
  background-position: 50% 63%;
  top: 0;
  left: 0;
  width: 100%;
  height: 1080px;
  z-index: -5;
}

@media (max-width: 1279px) {
  main::before {
    height: 780px;
  }
}

@media (max-width: 767px) {
  main::before {
    height: 650px;
  }
}

@media (max-width: 320px) {
  main::before {
    background-position: 13% 63%;
  }
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background: -webkit-gradient(linear, left bottom, left top, from(#ebebeb), color-stop(#ebebeb), color-stop(#ebebeb), color-stop(85%, #fff));
  background: linear-gradient(to top, #ebebeb, #ebebeb, #ebebeb, #fff 85%);
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header .header_container::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: -110px;
  width: 100%;
  height: 370px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, white), color-stop(80%, transparent));
  background: linear-gradient(bottom, white 20%, transparent 80%);
  z-index: -4;
}

main .header .header_container .row {
  padding: 50px 0  400px;
}

@media (max-width: 1279px) {
  main .header .header_container .row {
    padding: 50px 0  182px;
  }
}

@media (max-width: 767px) {
  main .header .header_container .row {
    padding: 50px 0  280px;
  }
}

@media (max-width: 767px) {
  main .header .header_container .row .header_content .header_icon {
    display: none;
  }
}

main .header .header_container .row .header_content .header_tw {
  font-size: 32px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: unset;
}

@media (max-width: 1279px) {
  main .header .header_container .row .header_content .header_tw {
    font-size: 24px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: unset;
  }
}

@media (max-width: 767px) {
  main .header .header_container .row .header_content .header_tw {
    font-size: 22px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: unset;
  }
}

main .header .header_container .row .header_content .header_en {
  font-size: 25px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 7px;
  line-height: unset;
}

@media (max-width: 1279px) {
  main .header .header_container .row .header_content .header_en {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 7px;
    line-height: unset;
  }
}

@media (max-width: 767px) {
  main .header .header_container .row .header_content .header_en {
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: unset;
  }
}

main .start .start_container .row .start_banner {
  width: 100%;
  text-align: center;
}

main .start .start_container .row .start_banner img {
  width: 100%;
}

main .start .start_container .row .start_banner h2 {
  text-align: left;
  position: absolute;
  bottom: -5px;
  left: 35px;
  font-size: 63px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 15px;
  line-height: 1;
}

@media (max-width: 1440px) {
  main .start .start_container .row .start_banner h2 {
    position: absolute;
    bottom: -5px;
    left: 120px;
  }
}

@media (max-width: 1279px) {
  main .start .start_container .row .start_banner h2 {
    font-size: 42px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 15px;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    left: unset;
  }
}

@media (max-width: 767px) {
  main .start .start_container .row .start_banner h2 {
    font-size: 32px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 15px;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    left: 15px;
  }
}

main .start .start_container .row .start_content {
  padding: 40px 200px 50px 35px;
}

@media (max-width: 1441px) {
  main .start .start_container .row .start_content {
    padding: 40px 120px 50px;
  }
}

@media (max-width: 1279px) {
  main .start .start_container .row .start_content {
    padding: 40px 0 50px 0;
  }
}

@media (max-width: 767px) {
  main .start .start_container .row .start_content {
    padding: 40px 15px;
  }
}

@media (max-width: 320px) {
  main .start .start_container .row .start_content {
    padding: 40px 15px 0;
  }
}

main .start .start_container .row .start_content h3 {
  text-align: left;
  font-size: 27px;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 42px;
}

@media (max-width: 767px) {
  main .start .start_container .row .start_content h3 {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 42px;
  }
}

@media (max-width: 320px) {
  main .start .start_container .row .start_content h3 {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
  }
}

main .start .start_container .row .start_content h3 br {
  display: none;
}

@media (max-width: 320px) {
  main .start .start_container .row .start_content h3 br {
    display: block;
  }
}

main .start .start_container .row .start_content h3 br:nth-child(2) {
  display: block;
}

@media (max-width: 320px) {
  main .start .start_container .row .start_content h3 br:nth-child(2) {
    display: none;
  }
}

main .start .start_container .row .start_content hr {
  border-top: 1px solid black;
  margin: 40px 0;
}

main .start .start_container .row .start_content .tw_content {
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  main .start .start_container .row .start_content .tw_content {
    margin-bottom: 35px;
  }
}

main .start .start_container .row .start_content .tw_content p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 32px;
}

@media (max-width: 767px) {
  main .start .start_container .row .start_content .tw_content p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 32px;
  }
}

@media (max-width: 320px) {
  main .start .start_container .row .start_content .tw_content p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
  }
}

main .start .start_container .row .start_content .tw_content p:nth-child(1) {
  margin-bottom: 40px;
}

main .start .start_container .row .start_content .en_content p {
  font-size: 16px;
  color: #979797;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
}

@media (max-width: 767px) {
  main .start .start_container .row .start_content .en_content p {
    font-size: 14px;
    color: #979797;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
  }
}

@media (max-width: 320px) {
  main .start .start_container .row .start_content .en_content p {
    display: none;
  }
}

main .start .start_container .row .start_content .en_content p:nth-child(1) {
  margin-bottom: 40px;
}

main .grow {
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  main .grow {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  main .grow .grow_container {
    padding: 0;
  }
}

main .grow .grow_container .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1279px) {
  main .grow .grow_container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  main .grow .grow_container .row {
    margin: 0;
  }
}

main .grow .grow_container .row .grow_img {
  width: 50%;
}

@media (max-width: 1279px) {
  main .grow .grow_container .row .grow_img {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
  }
}

@media (max-width: 320px) {
  main .grow .grow_container .row .grow_img {
    margin-bottom: 40px;
  }
}

main .grow .grow_container .row .grow_img img {
  width: 490px;
  height: 720px;
  -webkit-box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  main .grow .grow_container .row .grow_img img {
    width: 100%;
    height: auto;
  }
}

main .grow .grow_container .row .grow_content {
  width: 50%;
}

@media (max-width: 1279px) {
  main .grow .grow_container .row .grow_content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  main .grow .grow_container .row .grow_content {
    padding: 0 5%;
  }
}

main .grow .grow_container .row .grow_content .grow_header h3 {
  text-align: left;
  margin-bottom: 25px;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 1;
}

@media (max-width: 320px) {
  main .grow .grow_container .row .grow_content .grow_header h3 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 1;
  }
}

main .grow .grow_container .row .grow_content .grow_header h4 {
  text-align: left;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
}

@media (max-width: 320px) {
  main .grow .grow_container .row .grow_content .grow_header h4 {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
  }
}

main .grow .grow_container .row .grow_content .tw_content {
  margin: 80px 0;
}

@media (max-width: 767px) {
  main .grow .grow_container .row .grow_content .tw_content {
    margin: 40px 0;
  }
}

main .grow .grow_container .row .grow_content .tw_content p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 767px) {
  main .grow .grow_container .row .grow_content .tw_content p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 34px;
  }
}

@media (max-width: 320px) {
  main .grow .grow_container .row .grow_content .tw_content p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 34px;
  }
}

main .grow .grow_container .row .grow_content .en_content p {
  font-size: 16px;
  color: #979797;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 28px;
}

@media (max-width: 767px) {
  main .grow .grow_container .row .grow_content .en_content p {
    font-size: 14px;
    color: #979797;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  main .grow .grow_container .row .grow_content .en_content p {
    display: none;
  }
}

main .grow .grow_container .row .grow_content .en_content p:nth-child(1) {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  main .grow .grow_container .row .grow_content .en_content p:nth-child(1) {
    margin-bottom: 40px;
  }
}

main .continue {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  main .continue {
    margin-bottom: 60px;
  }
}

@media (max-width: 320px) {
  main .continue {
    margin-bottom: 0;
  }
}

main .continue .continue_banner {
  margin-bottom: 80px;
}

@media (max-width: 320px) {
  main .continue .continue_banner {
    margin-bottom: 40px;
  }
}

main .continue .continue_banner .banner_img {
  width: 1440px;
  height: 520px;
  background-size: cover;
  background-position: 50% 58%;
}

@media (max-width: 1441px) {
  main .continue .continue_banner .banner_img {
    width: 100%;
  }
}

@media (max-width: 1279px) {
  main .continue .continue_banner .banner_img {
    height: 325px;
  }
}

@media (max-width: 320px) {
  main .continue .continue_banner .banner_img {
    height: 450px;
  }
}

@media (max-width: 767px) {
  main .continue .continue_container .row {
    padding: 0 15px;
  }
}

main .continue .continue_container .row .continue_header {
  margin-bottom: 36px;
}

main .continue .continue_container .row .continue_header h3 {
  text-align: left;
  margin-bottom: 25px;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 1;
}

@media (max-width: 320px) {
  main .continue .continue_container .row .continue_header h3 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 1;
  }
}

main .continue .continue_container .row .continue_header h4 {
  text-align: left;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 32px;
}

@media (max-width: 320px) {
  main .continue .continue_container .row .continue_header h4 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
  }
}

main .continue .continue_container .row .tw_content {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  main .continue .continue_container .row .tw_content {
    margin-bottom: 20px;
  }
}

main .continue .continue_container .row .tw_content p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 767px) {
  main .continue .continue_container .row .tw_content p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 34px;
  }
}

@media (max-width: 320px) {
  main .continue .continue_container .row .tw_content p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 23px;
  }
}

main .continue .continue_container .row .en_content p {
  font-size: 16px;
  color: #979797;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 28px;
}

@media (max-width: 767px) {
  main .continue .continue_container .row .en_content p {
    font-size: 14px;
    color: #979797;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  main .continue .continue_container .row .en_content p {
    display: none;
  }
}

main .continue .continue_container .row .en_content p:nth-child(1) {
  margin-bottom: 40px;
}

@media (max-width: 320px) {
  main .continue .continue_container .row .en_content p:nth-child(1) {
    margin-bottom: 0;
  }
}

main .focus .focus_container {
  margin-bottom: 200px;
}

@media (max-width: 767px) {
  main .focus .focus_container {
    padding: 0;
    margin-bottom: 120px;
  }
}

@media (max-width: 320px) {
  main .focus .focus_container {
    margin-bottom: 70px;
  }
}

main .focus .focus_container .row {
  position: relative;
}

@media (max-width: 1279px) {
  main .focus .focus_container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  main .focus .focus_container .row {
    margin: 0;
  }
}

main .focus .focus_container .row .focus_img {
  width: 50vw;
  height: 712px;
  position: absolute;
  top: 0;
  left: calc( (100vw - 1140px) / 2  * -1 - 86px);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1279px) {
  main .focus .focus_container .row .focus_img {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    height: 507px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  main .focus .focus_container .row .focus_img {
    height: 441px;
  }
}

@media (max-width: 320px) {
  main .focus .focus_container .row .focus_img {
    margin-bottom: 40px;
    height: 262px;
  }
}

main .focus .focus_container .row .foucs_right {
  width: 50%;
  padding: 140px 0 0;
}

@media (max-width: 1279px) {
  main .focus .focus_container .row .foucs_right {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  main .focus .focus_container .row .foucs_right {
    padding: 0 5%;
  }
}

main .focus .focus_container .row .foucs_right .focus_header {
  margin-bottom: 36px;
}

main .focus .focus_container .row .foucs_right .focus_header h3 {
  text-align: left;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 1;
}

@media (max-width: 320px) {
  main .focus .focus_container .row .foucs_right .focus_header h3 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 1;
  }
}

main .focus .focus_container .row .foucs_right .focus_header h4 {
  text-align: left;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 32px;
}

@media (max-width: 320px) {
  main .focus .focus_container .row .foucs_right .focus_header h4 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

main .focus .focus_container .row .foucs_right .tw_content {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  main .focus .focus_container .row .foucs_right .tw_content {
    margin-bottom: 20px;
  }
}

main .focus .focus_container .row .foucs_right .tw_content p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 767px) {
  main .focus .focus_container .row .foucs_right .tw_content p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 34px;
  }
}

@media (max-width: 320px) {
  main .focus .focus_container .row .foucs_right .tw_content p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 23px;
  }
}

main .focus .focus_container .row .foucs_right .en_content p {
  font-size: 16px;
  color: #979797;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 28px;
}

@media (max-width: 767px) {
  main .focus .focus_container .row .foucs_right .en_content p {
    font-size: 14px;
    color: #979797;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  main .focus .focus_container .row .foucs_right .en_content p {
    display: none;
  }
}
/*# sourceMappingURL=ourstory.css.map */