@import "_function.sass"
main
    &::before
        +before_after_default(absolute)
        background-image: url("../img/01-OurStory/DSC_9239.jpg")
        background-size: cover
        background-position: 50% 63%
        top: 0
        left: 0
        width: 100%
        height: 1080px
        z-index: -5
    .header
        .header_container
            &::after
                +before_after_default(absolute)
                left: 0
                bottom: -110px
                width: 100%
                height: 370px
                background: linear-gradient(bottom, rgba(#FFF,1) 20%, transparent 80%)
                z-index: -4
            .row
                padding: 50px 0  400px
                .header_content
                    .header_icon
                        img
                    .header_tw
                        +FontStyle(32px,#FFF,400,10px)
                    .header_en
                        +FontStyle(25px,#FFF,400,7px)
    .start
        .start_container
            .row
                .start_banner
                    img
                    h2
                        +absolute(null,null,-5px,35px)
                        +FontStyle(50px,#FFF,600,15px,1)
                .start_content
                    padding: 40px 200px 50px 35px 
                    h3
                        +FontStyle(26px,#000,700,1px,1)
                    hr
                        border-top: 1px solid rgba(0,0,0,1)
                    .tw_content
                        margin-bottom: 70px
                        p
                            +FontStyle(18px,#000,400,3px,1)
                            &:nth-child(1)
                                margin-bottom: 40px
                                
                    .en_content
                        p
                            +FontStyle(16px,#000,400,1px,1)
                            &:nth-child(1)
                                margin-bottom: 40px
    .grow
        .grow_container
            .row
                .grow_img
                    width: 50vw
                    img
                        width: 490px
                        height: 720px
                .grow_content
                    width: 50vw
                    .grow_header
                        h3
                        h4
                    .tw_content
                        p
                    .en_content
                        p
    
