@-webkit-keyframes square {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(1000px) rotate(600deg);
            transform: scale(3) translateX(1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(1000px) rotate(600deg);
            transform: scale(3) translateX(1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border: unset;
}

nav .container .row {
  padding: 40px 0 0;
  position: relative;
}

@media (max-width: 767px) {
  nav .container .row {
    position: unset;
  }
}

nav .container .row .logo {
  margin: unset;
  position: absolute;
  left: -10%;
  top: 40px;
}

@media (max-width: 1279px) {
  nav .container .row .logo {
    -webkit-transform: unset;
            transform: unset;
  }
}

@media (max-width: 767px) {
  nav .container .row .logo {
    display: none;
  }
}

nav .container .row .logo .logo_icon {
  background-image: url("../img/99-LOGO/logo-01.png");
  background-position: center;
  background-size: cover;
  width: 81px;
  height: 81px;
}

@media (max-width: 1279px) {
  nav .container .row .logo .menu_backEnd {
    display: none;
  }
}

@media (max-width: 1279px) {
  nav .container .row .nav_btns {
    display: block;
    z-index: -5;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  nav .container .row .nav_btns {
    display: none;
  }
}

nav .container .row .nav_btns ul {
  margin: 0 0 12px;
}

nav .container .row .nav_btns ul li a::after {
  content: " ";
  display: block;
  position: relative;
  bottom: 5px;
  background-color: #C0362D;
}

nav .container .row .nav_btns ul li a:hover span {
  color: #C0362D !important;
}

nav .container .row .nav_btns ul li a span:nth-child(1) {
  color: #FFF;
}

nav .container .row .nav_btns ul li a span:nth-child(2) {
  color: #FFF;
}

nav .container .row .menu_Area {
  position: absolute;
  top: 40px;
  right: -10%;
}

@media (max-width: 1279px) {
  nav .container .row .menu_Area {
    top: 40px;
  }
}

@media (max-width: 767px) {
  nav .container .row .menu_Area {
    top: 20px;
    right: 15px;
  }
}

nav .container .row .menu_Area .menu_btn {
  background-color: unset;
  border: 1px solid #FFF;
}

nav .container .row .menu_Area .menu_btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

@media (max-width: 767px) {
  nav .container .row .menu_Area .menu_btn {
    border: unset;
  }
}

@media (max-width: 1279px) {
  nav .container .row .menu_Area .menu_backEnd {
    display: block;
  }
}

@media (max-width: 767px) {
  nav .container .row .menu_Area .menu_backEnd {
    display: none;
  }
}

nav .container .row .menu_Area .menu_backEnd ul li a {
  font-size: 14px;
  color: #FFF;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1;
}

nav .container .row hr {
  background: #FFF;
  margin: 0;
}

@media (max-width: 1279px) {
  nav .container .row hr {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  nav .container .row hr {
    display: none;
  }
}

main .swiper-container {
  width: 100%;
}

main .swiper-container .swiper-wrapper .swiper-slide {
  height: 100vh;
  padding: 24vh 0 0;
  text-align: center;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1279px) {
  main .swiper-container .swiper-wrapper .swiper-slide {
    padding: 18vh 0 0;
  }
}

@media (max-width: 767px) {
  main .swiper-container .swiper-wrapper .swiper-slide {
    padding: 13vh 0 0;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_header .header_tw {
  font-size: 54px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 12px;
  line-height: 49px;
  margin-bottom: 18px;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_header .header_tw {
    font-size: 32px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 49px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_header .header_en {
  font-size: 24px;
  color: #FFF;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 37px;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_header .header_en {
    font-size: 12px;
    color: #FFF;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 37px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title {
  margin-bottom: 4.6vh;
}

@media (max-width: 767px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title {
    margin-bottom: 5.5vh;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .title {
  font-size: 82px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 128px;
  margin-left: 50px;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .title {
    font-size: 48px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 80px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .title br {
  display: none;
}

@media (max-width: 767px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .title br {
    display: block;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .subtitle {
  font-size: 32px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 50px;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .subtitle {
    font-size: 24px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 50px;
  }
}

@media (max-width: 320px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_title .subtitle {
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 50px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_content {
  width: 530px;
}

@media (max-width: 767px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_content {
    width: 87.5% !important;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_content p {
  font-size: 18px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
  text-align: justify;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_content p {
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 30px;
  }
}

@media (max-width: 320px) {
  main .swiper-container .swiper-wrapper .swiper-slide .aesthetics_content p {
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1;
  }
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
    height: calc(100vh + 72px);
    padding: 8vh 0 0;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 0 5vh;
}

@media (max-width: 1279px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header_img {
    padding: 0;
  }
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header_img {
    margin: 0 0 30px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header_img img {
  display: none;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header_img img {
    display: block;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header {
  margin-bottom: 4.6vh;
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header .header_en {
  font-size: 30px;
  color: #FFF;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 37px;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_header .header_en {
    font-size: 12px;
    color: #FFF;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 37px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_title .title {
  font-size: 32px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 50px;
  margin-left: unset;
}

@media (max-width: 575px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .aesthetics_title .title {
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 50px;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-position: 50% 6%;
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-position: 50% 80%;
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .aesthetics_content {
  width: 740px;
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) {
  background-size: 138%;
  background-position: 100% 57%;
}

@media (max-width: 1800px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) {
    background-size: cover;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(6) {
  background-size: 138%;
  background-position: 100% 57%;
}

@media (max-width: 1800px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(6) {
    background-size: cover;
  }
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(7) {
  background-position: 50% 40%;
}

main .swiper-container .swiper-wrapper .swiper-slide:nth-child(8) {
  background-size: 126%;
  background-position: 100% 58%;
}

@media (max-width: 1800px) {
  main .swiper-container .swiper-wrapper .swiper-slide:nth-child(8) {
    background-size: cover;
    background-position: 70% 100%;
  }
}

main .swiper-button-next {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 85vh;
  right: calc(50% - 75px);
  margin-top: unset;
  height: unset;
}

@media (max-width: 575px) {
  main .swiper-button-next {
    top: 87vh;
    right: calc(50% - 50px);
  }
}

main .swiper-button-next:focus {
  outline: unset;
}

main .swiper-button-next::after {
  content: url("../img/99-LOGO/arrow_right_big.png");
}

@media (max-width: 575px) {
  main .swiper-button-next::after {
    content: url("../img/99-LOGO/arrow_right_small.png");
  }
}

main .swiper-button-prev {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 85vh;
  left: calc(50% - 75px);
  height: unset;
  margin-top: unset;
}

@media (max-width: 575px) {
  main .swiper-button-prev {
    top: 87vh;
    left: calc(50% - 50px);
  }
}

main .swiper-button-prev:focus {
  outline: unset;
}

main .swiper-button-prev::after {
  content: url("../img/99-LOGO/arrow_left_big.png");
}

@media (max-width: 575px) {
  main .swiper-button-prev::after {
    content: url("../img/99-LOGO/arrow_left_small.png");
  }
}

main .more {
  font-size: 18px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  border: 2px solid #FFF;
  border-radius: 91.5px;
  top: calc(85vh + 1px);
  left: calc(50% - 5px);
  width: 183px;
  height: 78px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}

@media (max-width: 575px) {
  main .more {
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1;
    border: 1px solid #FFF;
    top: 87vh;
    width: 119px;
    height: 50px;
  }
}

main .more:focus {
  outline: unset;
}

main .swiper_btn_mobile {
  top: calc(90vh + 60px);
}

main .swiper_btn_pc {
  right: 50%;
}

main .swiper-button-disabled {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0 !important;
}

footer {
  display: none;
}
/*# sourceMappingURL=production.css.map */