@charset "UTF-8";
@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 10px;
}

body * {
  font-family: 'Noto Serif TC','Noto Serif JP', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  .container {
    max-width: 1140px !important;
    width: 100%;
  }
}

@media (max-width: 1279px) {
  .container {
    max-width: 70% !important;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
    width: 100%;
    padding: 0 5%;
  }
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main {
  text-align: justify;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 30px 0 35px;
}

main .header .header_container .row {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

main .header .header_container .row .header_content span:nth-child(1) {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 49px;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content span:nth-child(1) {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 1;
  }
}

main .header .header_container .row .header_content span:nth-child(2) {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

main .rice .carousel .swiper-container {
  width: 100%;
  height: 713px;
}

@media (max-width: 1530px) {
  main .rice .carousel .swiper-container {
    height: 600px;
  }
}

@media (max-width: 1279px) {
  main .rice .carousel .swiper-container {
    height: 445px;
  }
}

@media (max-width: 767px) {
  main .rice .carousel .swiper-container {
    height: 260px;
  }
}

@media (max-width: 540px) {
  main .rice .carousel .swiper-container {
    height: 200px;
  }
}

main .rice .carousel .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
}

main .rice .carousel .swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}

main .rice .carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #C0362D;
}

main .rice .introduction .container .row {
  margin: unset;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .rice .introduction .container .row .introduction_header {
  position: relative;
  width: 50%;
  height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 7px;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_header {
    width: 100%;
  }
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_header {
    height: 460px;
  }
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_header {
    height: 380px;
  }
}

main .rice .introduction .container .row .introduction_header .header_bg {
  width: 243px;
  height: 515px;
  background-color: #B2362D;
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_header .header_bg {
    width: 115px;
    height: 244px;
  }
}

main .rice .introduction .container .row .introduction_header .header_title {
  position: absolute;
  left: calc( 50% - 7px);
  top: 65px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: rgba(0, 0, 0, 0.6) 10px 10px 10px;
  font-size: 123px;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 7px;
  line-height: 141px;
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_header .header_title {
    top: 25px;
    font-size: 58px;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 7px;
    line-height: 75px;
  }
}

main .rice .introduction .container .row .introduction_header .header_img {
  width: 490px;
  height: 490px;
  position: absolute;
  left: calc( 50% - 7px);
  top: 280px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_header .header_img {
    width: 320px;
    height: 320px;
    top: 140px;
  }
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_header .header_img {
    width: 230px;
    height: 230px;
  }
}

main .rice .introduction .container .row .introduction_type {
  width: 50%;
  padding-top: 230px;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_type {
    width: 100%;
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_type {
    padding-top: 30px;
  }
}

main .rice .introduction .container .row .introduction_type .type_title {
  position: relative;
  font-size: 48px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 74px;
  margin-bottom: 10px;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_type .type_title {
    text-align: center;
  }
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_type .type_title {
    font-size: 36px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 74px;
  }
  main .rice .introduction .container .row .introduction_type .type_title br {
    display: none;
  }
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_type .type_title {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .rice .introduction .container .row .introduction_type .type_title::before {
  content: "";
  width: 224px;
  height: 76px;
  position: absolute;
  top: -100px;
  left: 0;
  background-image: url(../img/03-2-系列介紹-內容頁面/05-味增御露油膏/icon.png);
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_type .type_title::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_type .type_title::before {
    display: none;
  }
}

main .rice .introduction .container .row .introduction_type .type_subtitle {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 34px;
  margin-bottom: 45px;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_type .type_subtitle {
    text-align: center;
  }
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_type .type_subtitle {
    margin-bottom: 20px;
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 34px;
  }
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_type .type_subtitle {
    font-size: 16px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .rice .introduction .container .row .introduction_type .logo {
  width: 284px;
  height: 117px;
  margin-bottom: 40px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_type .logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

main .rice .introduction .container .row .introduction_type .type_content {
  font-size: 18px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_type .type_content {
    font-size: 14px;
    color: #231714;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 26px;
  }
}

main .rice .introduction .container .row .introduction_type .type_content:nth-child(3) {
  margin-bottom: 42px;
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_type .type_content:nth-child(3) {
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_type .type_content:nth-child(3) {
    margin-bottom: 10px;
  }
}

main .rice .introduction .container .row .introduction_type .type_content:nth-child(4) {
  margin-bottom: 30px;
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 49px;
}

@media (max-width: 1279px) {
  main .rice .introduction .container .row .introduction_type .type_content:nth-child(4) {
    text-align: center;
  }
}

@media (max-width: 767px) {
  main .rice .introduction .container .row .introduction_type .type_content:nth-child(4) {
    margin-bottom: 40px;
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 49px;
  }
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_type .type_content:nth-child(4) {
    margin-bottom: 20px;
    font-size: 18px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 49px;
  }
}

main .rice .introduction .container .row .introduction_type .type_content:nth-child(5) {
  font-size: 22px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 540px) {
  main .rice .introduction .container .row .introduction_type .type_content:nth-child(5) {
    font-size: 18px;
    color: #231714;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 34px;
  }
}

main .go_shopping {
  padding: 70px 0;
}

main .go_shopping .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .go_shopping .container .row .shopping_btn {
  width: 361px;
  height: 90px;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-size: 21px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 35px;
}

@media (max-width: 540px) {
  main .go_shopping .container .row .shopping_btn {
    width: 259px;
    height: 64px;
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 25px;
  }
}

main .go_shopping .container .row .shopping_btn:hover {
  background-color: #C0362D;
}

main .producer .container .row {
  margin: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .producer .container .row .producer_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 80px 0 40px;
}

@media (max-width: 540px) {
  main .producer .container .row .producer_header {
    padding: 20px 0 40px;
  }
}

main .producer .container .row .producer_header::before {
  content: "";
  width: 840px;
  height: 1px;
  position: absolute;
  left: 50%;
  z-index: -4;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #231714;
}

@media (max-width: 1279px) {
  main .producer .container .row .producer_header::before {
    width: 620px;
  }
}

@media (max-width: 767px) {
  main .producer .container .row .producer_header::before {
    width: 100%;
  }
}

main .producer .container .row .producer_header .title {
  position: relative;
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 49px;
}

@media (max-width: 767px) {
  main .producer .container .row .producer_header .title {
    font-size: 24px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 38px;
  }
}

@media (max-width: 540px) {
  main .producer .container .row .producer_header .title {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main .producer .container .row .producer_header .title_img {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  border: 65px solid #EBEBEB;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2;
  left: 49.5%;
  -webkit-transform: translate(-48%);
          transform: translate(-48%);
  background-color: #EBEBEB;
}

@media (max-width: 767px) {
  main .producer .container .row .producer_header .title_img {
    border: 54px solid #EBEBEB;
    width: 265px;
    height: 265px;
  }
}

@media (max-width: 540px) {
  main .producer .container .row .producer_header .title_img {
    border: 25px solid #EBEBEB;
    width: 134px;
    height: 134px;
  }
}

main .producer .container .row .producer_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 170px;
}

@media (max-width: 767px) {
  main .producer .container .row .producer_content {
    margin-bottom: 50px;
  }
}

main .producer .container .row .producer_content .producer_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

@media (max-width: 1279px) {
  main .producer .container .row .producer_content .producer_detail {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  main .producer .container .row .producer_content .producer_detail {
    width: 100%;
  }
}

main .producer .container .row .producer_content .producer_detail .producer_photo {
  width: 190px;
  height: 190px;
  background-position: center;
  background-size: cover;
  margin-bottom: 18px;
}

main .producer .container .row .producer_content .producer_detail .producer_name {
  text-align: center;
}

main .producer .container .row .producer_content .producer_detail .producer_name div {
  font-size: 20px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
}

main .producer .container .row .producer_content .producer_detail .producer_name div:nth-child(2) {
  font-size: 16px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 27px;
}
/*# sourceMappingURL=products_miso.css.map */