@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 10px;
}

body * {
  font-family: 'Noto Serif TC','Noto Serif JP', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main {
  text-align: justify;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 40px;
}

@media (max-width: 540px) {
  main .header {
    padding: 16px 0 40px;
  }
}

main .header .header_container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .header .header_container .row .title {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 35px;
}

@media (max-width: 540px) {
  main .header .header_container .row .title {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

@media (max-width: 767px) {
  main .header .header_container .row .title span {
    display: none;
  }
}

main .header .header_container .row .content {
  font-size: 18px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 540px) {
  main .header .header_container .row .content {
    font-size: 12px;
    color: #231714;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 23px;
  }
}

@media (max-width: 1279px) {
  main .banner .container {
    padding: 0;
  }
}

main .banner .container .row {
  margin: 0;
  height: 500px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1530px) {
  main .banner .container .row {
    height: 430px;
  }
}

@media (max-width: 1279px) {
  main .banner .container .row {
    height: 455px;
  }
}

@media (max-width: 767px) {
  main .banner .container .row {
    height: 320px;
  }
}

@media (max-width: 540px) {
  main .banner .container .row {
    height: 189px;
  }
}

main section .container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .container .row .header {
  position: relative;
  border-top: 1px solid #000;
  padding: 40px 0;
}

main section .container .row .header span {
  font-size: 22px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

main section .container .row .header span.active {
  font-size: 22px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

main section .container .row .header .arrow {
  position: absolute;
  left: 110px;
  top: 50%;
  width: 9px;
  height: 9px;
  border-top: 2px solid #231714;
  border-right: 2px solid #231714;
  border-bottom: 2px solid rgba(192, 54, 45, 0);
  border-left: 2px solid rgba(192, 54, 45, 0);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

main section .container .row .header .arrow.active {
  border-top: 2px solid rgba(35, 23, 20, 0);
  border-right: 2px solid rgba(35, 23, 20, 0);
  border-bottom: 2px solid #c0362d;
  border-left: 2px solid #c0362d;
  -webkit-transition: .3s;
  transition: .3s;
}

main section .container .row .content ul {
  margin-bottom: 40px;
}

main section .container .row .content ul li {
  font-size: 16px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
}

@media (max-width: 540px) {
  main section .container .row .content ul li {
    font-size: 12px;
    color: #231714;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 23px;
  }
}

main section .container .row .content ul li:nth-child(1) .testing_title {
  margin: 0 0 20px;
}

main section .container .row .content ul li:nth-child(2) .testing_title {
  margin: 0 0 20px;
}

main section .container .row .content ul li h2 {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 3px;
}

main section .container .row .content ul li p {
  margin-left: 50px;
}

main section .container .row .content ul li img {
  width: 100%;
  height: auto;
  max-width: 848px;
  margin-bottom: 40px;
}

main section:nth-child(4) .container .row .header {
  border-top: 0px solid #000;
}
/*# sourceMappingURL=Q&A.css.map */