@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes bordermove {
  0% {
    top: 0;
    height: 0px;
  }
  49% {
    top: 0;
    height: 105px;
  }
  100% {
    top: 105px;
    height: 0px;
  }
}

@keyframes bordermove {
  0% {
    top: 0;
    height: 0px;
  }
  49% {
    top: 0;
    height: 105px;
  }
  100% {
    top: 105px;
    height: 0px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 10px;
}

body * {
  font-family: 'Noto Serif TC','Noto Serif JP', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .forget .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .forget .container .row .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 825px;
}

main .forget .container .row .content .header {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
  margin: 70px 0 32px;
}

@media (max-width: 767px) {
  main .forget .container .row .content .header {
    margin: 23px 0 32px;
  }
}

@media (max-width: 540px) {
  main .forget .container .row .content .header {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 1;
  }
}

main .forget .container .row .content .text {
  font-size: 18px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 34px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  main .forget .container .row .content .text {
    margin-bottom: 31px;
  }
}

@media (max-width: 540px) {
  main .forget .container .row .content .text {
    margin-bottom: 21px;
    font-size: 12px;
    color: #231714;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 23px;
  }
}

main .forget .container .row .content .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  main .forget .container .row .content .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
  }
}

main .forget .container .row .content .input .title {
  font-size: 18px;
  color: #231714;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 34px;
  width: 123px;
}

@media (max-width: 767px) {
  main .forget .container .row .content .input .title {
    margin-bottom: 10px;
  }
  main .forget .container .row .content .input .title:nth-child(2) {
    border: 1px solid #231714;
    width: 100%;
    margin-bottom: 0;
    padding-left: 15px;
  }
}

@media (max-width: 540px) {
  main .forget .container .row .content .input .title {
    font-size: 14px;
    color: #231714;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 28px;
  }
}

main .forget .container .row .content .input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 34px;
  border: 1px solid #231714;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: unset;
  transition: unset;
  font-size: 14px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 27px;
}

@media (max-width: 767px) {
  main .forget .container .row .content .input input {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

main .forget .container .row .content .input input:focus {
  -webkit-transition: unset;
  transition: unset;
  border: 1px solid #C0362D;
  outline: 2px solid #C0362D;
}

main .forget .container .row .content .submit_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  margin-bottom: 105px;
}

@media (max-width: 767px) {
  main .forget .container .row .content .submit_area {
    margin-bottom: 80px;
    margin-top: 9px;
  }
}

main .forget .container .row .content .submit_area .submit {
  overflow: hidden;
  position: relative;
  border: 1px solid #231714;
  width: 120px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .forget .container .row .content .submit_area .submit:hover {
  background-color: #231714;
}

main .forget .container .row .content .submit_area .submit:hover span {
  color: #FFF;
}

main .forget .container .row .content .submit_area .submit span {
  font-size: 14px;
  color: #231714;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 27px;
}

main .forget .container .row .content .submit_area .submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(50%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
/*# sourceMappingURL=reset_password.css.map */