@-webkit-keyframes square {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(1000px) rotate(600deg);
            transform: scale(3) translateX(1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-transform: scale(3) translateX(1000px) rotate(600deg);
            transform: scale(3) translateX(1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1279px) {
  body {
    background-color: #ebebeb;
  }
}

main {
  text-align: justify;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 37px;
}

main .header .header_container .row .header_content {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
  margin-right: 15px;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .header_container .row .header_btns {
  position: relative;
}

main .header .header_container .row .header_btns .types_select {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #231714;
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .header .header_container .row .header_btns .types_select::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

main .header .header_container .row .header_btns .types_select::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main .header .header_container .row .header_btns .option_area {
  border: 1px solid #231714;
  width: 200px;
  position: absolute;
}

main .header .header_container .row .header_btns .option_area .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 16px;
  color: #989898;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .header .header_container .row .header_btns .option_area .option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: #231714;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .header .header_container .row .header_btns .option_area .option:last-child::after {
  display: none;
}

main .header .header_container .row .header_btns .option_area .option:hover {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main section {
  position: relative;
}

main section:nth-child(4) .container .row .soysauce_type .soysauce_title {
  width: 124px;
  height: 286px;
}

main section:nth-child(5) .container .row .soysauce_type .soysauce_title {
  width: 167px;
  height: 304px;
}

main section:nth-child(6) .container .row .soysauce_type .soysauce_title {
  width: 131px;
  height: 295px;
}

main section:nth-child(7) .container .row .soysauce_type .soysauce_title {
  width: 96px;
  height: 277px;
}

main section .backline {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1200px;
  z-index: -1;
  padding: 72px 0 200px;
  border: unset;
}

main section .backline .backline_rect {
  position: absolute;
  top: 0;
  left: -1px;
  width: 300px;
  height: 300px;
  background: #ebebeb;
}

main section .backline .backline_border {
  width: 100%;
  height: 100%;
  opacity: 1;
  border: 1px solid #231714;
}

main section .container .row .soysauce_type {
  width: 250px;
  padding: 0 0 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .container .row .soysauce_type .soysauce_title {
  width: 175px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

main section .container .row .soysauce_type .soysauce_summary {
  width: 210px;
  margin-top: auto;
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 31px;
}

main section .container .row .soysauce_product {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .container .row .soysauce_product .product_card {
  margin-bottom: 65px;
  margin-right: 25px;
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_product .product_card:nth-child(2n) {
    margin-right: unset;
  }
}

@media (min-width: 1531px) {
  main section .container .row .soysauce_product .product_card:nth-child(3n) {
    margin-right: unset;
  }
}

main section .container .row .soysauce_product .product_card .product_img {
  width: 270px;
  height: 360px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

main section .container .row .soysauce_product .product_card .product_content {
  position: relative;
}

main section .container .row .soysauce_product .product_card .product_content .product_title {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

main section .container .row .soysauce_product .product_card .product_content .product_price {
  font-size: 16px;
  color: #808080;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 31px;
}

main section .container .row .soysauce_product .product_card .product_content .product_btn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: #000000;
}

main section .container .row .soysauce_product .product_card .product_content .product_btn span::before {
  content: "";
  width: 18px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main section .container .row .soysauce_product .product_card .product_content .product_btn span::after {
  content: "";
  width: 18px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(90deg);
          transform: translate(-50%) rotate(90deg);
}
/*# sourceMappingURL=shopping.css.map */