@import "_function.sass"
body
    @media ( max-width: 1279px )
        background-color: #ebebeb
   
main
    text-align: justify
    @media ( max-width: 767px )
        padding-bottom: 50px 
    @media ( max-width: 540px )
        padding-bottom: 30px 
    .mask
        position: absolute
        top: 0px
        left: 20px
        width: calc(100% - 40px)
        z-index: -9999
        background-color: #ebebeb
        @media ( max-width: 1279px )
            display: none
    .header
        padding: 21px 0 37px
        .header_container
            .row
                .header_content
                    +FontStyle(32px,$colorBlack,700,7px,1) 
                    margin-right: 50px
                    @media ( max-width: 540px )
                        margin-right: unset
                        margin-bottom: 30px
                        +FontStyle(22px,$colorBlack,700,7px,31px) 
                .header_btns
                    position: relative
                    .types_select
                        width: 200px
                        height: 45px
                        display: flex
                        position: relative
                        align-items: center
                        justify-content: center
                        border: 1px solid $colorBlack
                        +FontStyle(16px,$colorBlack,700,3px,54px) 
                        @media ( max-width: 540px )
                            width: 100%
                        &::before
                            content: ""
                            position: absolute
                            top: 0
                            left: 0
                            width: 17px
                            height: 17px
                            background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
                        &::after 
                            content: ""
                            position: absolute
                            top: 30%
                            right: 18px
                            width: 12px
                            height: 12px
                            border-radius: 2px
                            background: linear-gradient(to bottom right, $colorBlack 0%, $colorBlack 49.9%, rgba(#fff, 0) 50%, rgba(#fff, 0) 100%)
                            transform: rotate(225deg)
                    .option_area
                        border: 1px solid $colorBlack
                        width: 200px
                        position: absolute
                        z-index: 10
                        @media ( max-width: 540px )
                            width: 100%
                        .option
                            display: flex
                            align-items: center
                            justify-content: center
                            position: relative
                            background-color: #ebebeb
                            +FontStyle(16px,#989898,700,3px,54px) 
                            &::after
                                content: ""
                                position: absolute
                                bottom: 0
                                left: 50%
                                width: 55%
                                height: 1px
                                background-color: $colorBlack
                                transform: translateX(-50%)
                            &:last-child
                                &::after
                                    display: none
                            &:hover
                                +FontStyle(16px,$colorBlack,700,3px,54px) 
                                
    section
        position: relative
        .backline
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            height: 100%
            width: 1200px
            z-index: -1
            padding: 72px 0 200px
            border: unset
            @media ( max-width: 1530px )
                max-width: 1000px !important 
                padding: 72px 15px 200px
                width: 70%
            @media ( max-width: 1279px )
                max-width: 75% !important 
                width: 100%
            @media ( max-width: 767px )
                max-width: 100% !important
            .backline_rect
                position: absolute
                top: 0
                left: -1px
                width: 350px
                height: 300px
                background: #ebebeb
                @media ( max-width: 1279px )
                    left: 50%
                    transform: translateX(-50%)
                @media ( max-width: 767px )
                    display: none
            .backline_border
                width: 100%
                height: 100%
                opacity: 1
                border: 1px solid $colorBlack
                @media ( max-width: 767px )
                    border: unset
        .collapses
            .show
                transition: .3s !important
            .product
                position: fixed
                z-index: 999
                top: 0
                left: 50%
                transform: translateX(-50%)
                height: 100vh
                width: 1440px
                background-color: $colorOrange
                transition: 0s
                @media ( max-width: 1530px )
                    width: 1200px
                @media ( max-width: 1279px )  
                    width: 100vw
                @media ( max-width: 768px )
                    height: 100vh
                .close_collapse
                    border: 1px solid $colorOrange
                    overflow: hidden
                    width: 150px
                    height: 150px
                    position: absolute
                    right: -150px
                    top: 150px
                    transition: 0s
                    @media ( max-width: 1530px )   
                        width: 100px
                        height: 70px
                        right: 56px
                        top: 120px
                    @media ( max-width: 1279px )  
                        top: 200px
                    @media ( max-width: 768px )  
                        width: 60px
                        height: 40px
                        right: 30px
                        top: 30px
                    @media ( max-width: 540px)  
                        width: 20px
                        height: 15px
                        right: 25px
                        top: 25px
                    .line
                        position: absolute
                        top: 50%
                        left: 50%
                        width: 300px
                        height: 1px
                        z-index: 10
                        background-color: $colorOrange
                        @media ( max-width: 1530px ) 
                            background-color: #FFF 
                    .line1
                        transform: translate(-50%) rotate(35deg)
                    .line2
                        transform: translate(-50%) rotate(-35deg)
                .card
                    width: 100%
                    height: 100%
                    padding: 12vh 68px 0 168px
                    background-color: unset
                    flex-direction: row
                    position: relative
                    border: unset
                    overflow: hidden
                    @media ( max-width: 1530px )
                        padding: 12vh 0 0 60px
                    @media ( max-width: 1279px ) 
                        padding: 0
                        align-items: center
                        justify-content: center
                    @media ( max-width: 768px )  
                        padding: 80px 0 0
                        flex-direction: column
                    @media ( max-width: 540px)  
                        overflow-y: scroll
                        overflow-x: hidden
                        padding: 60px 0 0
                    .product_img
                        width: 570px
                        height: 760px
                        position: relative
                        z-index: 2
                        background-size: cover
                        background-position: center
                        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3)
                        @media ( max-width: 1279px )  
                            width: 375px
                            height: 500px
                        @media ( max-width: 768px )  
                            width: 478px
                            height: 640px
                        @media ( max-width: 540px)  
                            width: 280px
                            height: 375px
                        .header_img
                            width: 285px
                            height: 752px
                            position: absolute
                            background-size: cover
                            background-position: center
                            z-index: 3
                            left: -186px
                            top: -50px
                            @media ( max-width: 1530px )
                                left: -82px
                                top: -50px
                            @media ( max-width: 1279px )  
                                width: 150px
                                height: 397px
                                left: -45px
                                top: -65px
                            @media ( max-width: 768px )
                                width: 126px
                                height: 333px
                                left: -45px
                                top: -65px
                    .product_detail
                        padding: 230px 0 0
                        @media ( max-width: 1279px ) 
                            padding: 45px 0 0
                            width: 360px
                            height: 500px
                        @media ( max-width: 768px )  
                            padding: 55px 0 0
                            width: 478px
                            display: flex
                            flex-direction: column
                        @media ( max-width: 540px)  
                            width: 280px
                            padding: 30px 0 0
                        .product_title
                            width: 590px
                            height: 122px
                            padding-left: 100px
                            background-color: #FFF
                            display: flex
                            flex-direction: column
                            justify-content: center 
                            @media ( max-width: 1530px )   
                                padding-left: 40px 
                                width: 515px
                                height: 118px 
                            @media ( max-width: 1279px )  
                                width: 350px
                                height: 118px 
                            @media ( max-width: 768px ) 
                                padding-left: unset
                                background-color: unset
                            .product_name
                                +FontStyle(37px,$colorOrange,600,5px,52px)
                                @media ( max-width: 1279px )  
                                    +FontStyle(32px,$colorOrange,600,5px,52px)
                                @media ( max-width: 768px ) 
                                    +FontStyle(32px,#FFF,600,5px,52px)
                                @media ( max-width: 540px) 
                                    +FontStyle(22px,#FFF,600,5px,52px)
                            .product_price
                                +FontStyle(27px,$colorOrange,600,5px,52px)
                                @media ( max-width: 1279px )  
                                    +FontStyle(20px,$colorOrange,600,5px,52px)
                                @media ( max-width: 768px ) 
                                    +FontStyle(20px,#FFF,600,5px,52px)
                                @media ( max-width: 540px) 
                                    +FontStyle(18px,#FFF,600,5px,52px)  
                        .product_content
                            padding: 65px 0 65px 100px
                            @media ( max-width: 1530px )   
                                padding: 65px 0 65px 40px
                            @media ( max-width: 1279px )  
                                padding: 50px 0 30px 40px
                            @media ( max-width: 768px )
                                padding: 30px 0 0
                                order: 1
                            div
                                +FontStyle(18px,#FFF,400,3px,41px)
                                @media ( max-width: 768px )
                                    white-space: nowrap
                                @media ( max-width: 540px) 
                                    white-space: unset
                                    +FontStyle(12px,#FFF,400,3px,23px)
                        .add_cart
                            padding-left: 100px
                            display: flex
                            @media ( max-width: 1530px )  
                                padding-left: 40px
                            @media ( max-width: 768px )
                                padding-left: unset
                                order: 0
                            .qty_btn
                                display: flex
                                align-items: center
                                border: 1px solid #fff
                                padding: 0 10px
                                @media ( max-width: 1279px )
                                    padding: 0 5px
                                @media ( max-width: 768px )  
                                    padding: 0 10px
                                @media ( max-width: 540px ) 
                                    padding: 0 5px
                                .qty
                                    +FontStyle(22px,#FFF,400,3px,31px)
                                    padding: 0 80px
                                    @media ( max-width: 1279px )
                                        +FontStyle(18px,#FFF,400,3px,31px)
                                        padding: 0 10px
                                    @media ( max-width: 768px )  
                                        padding: 0 80px
                                    @media ( max-width: 540px) 
                                        +FontStyle(13px,#FFF,400,3px,18px)
                                        padding: 0 45px
                                .minus,.plus
                                    +FontStyle(22px,#FFF,900,3px,31px)
                                    cursor: pointer
                                    @media ( max-width: 1279px )
                                        +FontStyle(18px,#FFF,900,3px,31px)
                                    @media ( max-width: 540px) 
                                        +FontStyle(15px,#FFF,900,3px,18px)
                            form
                                border: 1px solid #fff
                                border-left: unset
                                padding: 0 20px
                                @media ( max-width: 768px ) 
                                    padding: 0 45px
                                @media ( max-width: 540px) 
                                    padding: 0 5px
                                button
                                    +FontStyle(22px,#FFF,400,3px,31px)
                                    @media ( max-width: 1279px )
                                        +FontStyle(18px,#FFF,400,3px,31px)
                                    @media ( max-width: 540px) 
                                        +FontStyle(13px,#FFF,400,3px,18px)
        .container     
            .row
                @media ( max-width: 1279px )
                    flex-direction: column
                    align-items: center
                .soysauce_type
                    width: 250px
                    padding-bottom: 220px
                    display: flex
                    flex-direction: column
                    @media ( max-width: 1530px )
                        margin-left: 50px
                    @media ( max-width: 1350px )
                        margin-left: 25px
                    @media ( max-width: 1279px )
                        align-items: center
                        padding-bottom: 40px
                        margin-left: 0
                    @media ( max-width: 540px )
                        padding-bottom: 20px
                    .soysauce_title
                        width: 175px
                        height: 300px
                        background-size: cover
                        background-position: center
                        margin-bottom: 60px
                        @media ( max-width: 767px )
                            width: 123px
                            height: 214px
                        @media ( max-width: 540px )
                            display: none
                    .soysauce_title_sm
                        width: 66px
                        height: 114px
                        background-size: cover
                        background-position: center
                        display: none
                        margin-bottom: 30px
                        @media ( max-width: 540px )
                            display: block
                    .soysauce_summary
                        width: 210px
                        margin-top: auto
                        +FontStyle(16px,$colorGrey,400,1px,31px)
                        @media ( max-width: 1279px ) 
                            width: 310px
                        @media ( max-width: 540px )
                            width: 280px
                            +FontStyle(14px,$colorGrey,400,1px,26px)
                .soysauce_product  
                    flex: 1
                    @media ( max-width: 1279px ) 
                        width: 100%
                        justify-content: center
                    .product_cards
                        width: 100%
                        flex-wrap: wrap
                        @media ( max-width: 1279px ) 
                            width: 580px
                        @media ( max-width: 900px )
                            width: 480px
                        @media ( max-width: 540px )
                            width: 280px
                        .product_card
                            margin-bottom: 65px
                            margin-right: 28px
                            width: 268px
                            @media ( max-width: 900px )
                                width: 221px
                            @media ( max-width: 540px )
                                margin-bottom: 25px
                                margin-right: 18px
                                width: 131px
                            &:nth-child(2n)
                                @media ( max-width: 1530px )
                                    margin-right: unset
                                @media ( max-width: 1279px )
                                    margin-left: auto
                            &:nth-child(3n)
                                @media ( min-width: 1531px )
                                    margin-right: unset
                            &:last-child
                                margin-right: unset
                            .product_img_area
                                position: relative
                                width: 100%
                                height: 360px
                                @media ( max-width: 900px )
                                    height: 284px
                                @media ( max-width: 540px ) 
                                    height: 175px
                                &:hover .product_hover
                                    opacity: 1
                                .product_img
                                    width: 100%
                                    height: 360px
                                    margin-bottom: 15px
                                    background-size: cover
                                    background-position: center
                                    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3)
                                    @media ( max-width: 900px )
                                        width: 221px
                                        height: 284px
                                    @media ( max-width: 540px )
                                        width: 131px
                                        height: 175px
                                .product_hover
                                    width: 100%
                                    height: 100%
                                    position: absolute
                                    display: flex
                                    flex-direction: column
                                    justify-content: center
                                    align-items: center
                                    top: 0
                                    left: 0
                                    opacity: 0
                                    background-color: rgba(#000, .7)
                                    .hover_title
                                        +FontStyle(22px,#fff,700,4px,31px) 
                                        @media ( max-width: 540px )
                                            +FontStyle(14px,#fff,700,4px,31px) 
                                    .hover_price
                                        +FontStyle(16px,#fff,700,4px,31px) 
                                        margin-bottom: 40px 
                                        @media ( max-width: 540px )
                                            margin-bottom: 20px 
                                            +FontStyle(12px,#fff,700,4px,31px) 
                                    .hover_btn
                                        width: 176px
                                        height: 43px
                                        border: 1px solid #FFF
                                        display: flex
                                        justify-content: center
                                        align-items: center
                                        +FontStyle(14px,#fff,400,4px,23px) 
                                        @media ( max-width: 540px )
                                            width: 110px
                                            height: 35px
                                            +FontStyle(12px,#fff,400,1px,23px) 
                                .cart_qty.click
                                    .layer2
                                        opacity: 1
                                        animation: add_cart1 0.2s linear 0.2s 1 alternate forwards
                                    .layer3
                                        opacity: 1
                                        animation: add_cart2 0.2s linear 0.1s 1 alternate forwards
                                    .layer4
                                        opacity: 1
                                        animation: add_cart3 0.2s linear 0s 1 alternate forwards
                                .cart_qty.count
                                    display: flex
                                .cart_qty
                                    position: absolute
                                    top: -20px
                                    right: -15px
                                    width: 45px
                                    height: 45px
                                    border-radius: 50%
                                    background-color: rgba(#C4362D,1)
                                    display: none
                                    justify-content: center
                                    align-items: center
                                    animation: add_cart 1s
                                    animation-delay: 0.5s
                                    span
                                        position: relative
                                        z-index: 10
                                        +FontStyle(22px,#fff,700,1px,1) 
                                    .layer1
                                        position: absolute
                                        z-index: 9
                                        width: 45px
                                        height: 45px
                                        border-radius: 50%
                                        opacity: 0
                                        background-color: rgba(#C4362D,1)
                                    .layer2
                                        position: absolute
                                        z-index: 8
                                        width: 60px
                                        height: 60px
                                        border-radius: 50%
                                        opacity: 0
                                        background-color: rgba(#C4362D,0.7)
                                    .layer3
                                        position: absolute
                                        z-index: 7
                                        width: 75px
                                        height: 75px
                                        border-radius: 50%
                                        opacity: 0
                                        background-color: rgba(#C4362D,0.4)
                                    .layer4
                                        position: absolute
                                        z-index: 6
                                        width: 90px
                                        height: 90px
                                        border-radius: 50%
                                        opacity: 0
                                        border: 2px solid rgba(#C4362D,0.4)
                            .product_content
                                position: relative
                                .product_title
                                    +FontStyle(18px,$colorBlack,700,3px,31px) 
                                    @media ( max-width: 540px )
                                        +FontStyle(14px,$colorBlack,700,3px,31px)   
                                .product_price
                                    +FontStyle(16px,$colorGrey,600,4px,40px) 
                                    @media ( max-width: 540px )
                                        +FontStyle(12px,$colorGrey,600,1px,20px) 
                                .product_btn
                                    width: 32px
                                    height: 32px
                                    position: absolute
                                    right: 0
                                    top: 50%
                                    transform: translateY(-50%)
                                    border-radius: 50%
                                    background-color: #000000
                                    @media ( max-width: 767px )
                                        display: none
                                    span
                                        &::before
                                            content: ""
                                            width: 18px
                                            height: 3px
                                            background-color: #FFF
                                            position: absolute
                                            top: 50%
                                            left: 50%
                                            transform: translate(-50%)
                                        &::after 
                                            content: ""
                                            width: 18px
                                            height: 3px
                                            background-color: #FFF
                                            position: absolute
                                            top: 50%
                                            left: 50%
                                            transform: translate(-50%) rotate(90deg)
                    .product_cards.single_cards
                        justify-content: center
                        @media ( max-width: 1530px )
                            justify-content: unset  
        &:nth-child(2)
            /*這是header*/
            .container     
                .row
                    @media ( max-width: 1279px )
                        flex-direction: unset
                        align-items: unset
                        margin: 0 -15px !important
                    @media ( max-width: 540px )
                        margin: 0 !important
                        flex-direction: column
        &:nth-child(4)
            .container     
                .row
                    .soysauce_type
                        .soysauce_title
                            width: 124px
                            height: 286px
                            @media ( max-width: 767px )
                                width: 92px
                                height: 212px
                        .soysauce_title_sm
                            width: 133px
                            height: 72px
        &:nth-child(5)
            .container     
                .row
                    .soysauce_type
                        .soysauce_title
                            width: 167px
                            height: 304px
                            @media ( max-width: 767px )
                                width: 117px
                                height: 211px
                        .soysauce_title_sm
                            width: 129px
                            height: 86px
        &:nth-child(6)
            .container     
                .row
                    .soysauce_type
                        .soysauce_title
                            width: 131px
                            height: 295px
                            @media ( max-width: 767px )
                                width: 92px
                                height: 211px
                        .soysauce_title_sm
                            width: 115px
                            height: 85px
        &:nth-child(7)
            .container     
                .row
                    .soysauce_type
                        .soysauce_title
                            width: 96px
                            height: 277px 
                        .soysauce_title_sm
                            width: 111px
                            height: 72px
              
                                    
                                

        