@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

body * {
  font-family: 'Noto Serif TC';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 1279px) {
  body {
    background-color: #ebebeb;
  }
}

main {
  text-align: justify;
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 37px;
}

main .header .header_container .row .header_content {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
  margin-right: 50px;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content {
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .header_container .row .header_btns {
  position: relative;
}

main .header .header_container .row .header_btns .types_select {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #231714;
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .header .header_container .row .header_btns .types_select::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

main .header .header_container .row .header_btns .types_select::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main .header .header_container .row .header_btns .option_area {
  border: 1px solid #231714;
  width: 200px;
  position: absolute;
  z-index: 10;
}

main .header .header_container .row .header_btns .option_area .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #ebebeb;
  font-size: 16px;
  color: #989898;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .header .header_container .row .header_btns .option_area .option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: #231714;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .header .header_container .row .header_btns .option_area .option:last-child::after {
  display: none;
}

main .header .header_container .row .header_btns .option_area .option:hover {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main section {
  position: relative;
}

main section .backline {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1200px;
  z-index: -1;
  padding: 72px 0 200px;
  border: unset;
}

@media (max-width: 1530px) {
  main section .backline {
    max-width: 1000px !important;
    padding: 72px 15px 200px;
    width: 70%;
  }
}

@media (max-width: 1279px) {
  main section .backline {
    max-width: 75% !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  main section .backline {
    max-width: 100% !important;
  }
}

main section .backline .backline_rect {
  position: absolute;
  top: 0;
  left: -1px;
  width: 350px;
  height: 300px;
  background: #ebebeb;
}

@media (max-width: 1279px) {
  main section .backline .backline_rect {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

main section .backline .backline_border {
  width: 100%;
  height: 100%;
  opacity: 1;
  border: 1px solid #231714;
}

@media (max-width: 767px) {
  main section .backline .backline_border {
    border: unset;
  }
}

@media (max-width: 1279px) {
  main section .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section .container .row .soysauce_type {
  width: 250px;
  padding: 0 0 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_type {
    margin-left: 50px;
  }
}

@media (max-width: 1350px) {
  main section .container .row .soysauce_type {
    margin-left: 25px;
  }
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_type {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 40px;
    margin-left: 0;
  }
}

main section .container .row .soysauce_type .soysauce_title {
  width: 175px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  main section .container .row .soysauce_type .soysauce_title {
    width: 123px;
    height: 214px;
  }
}

main section .container .row .soysauce_type .soysauce_summary {
  width: 210px;
  margin-top: auto;
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 31px;
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_type .soysauce_summary {
    width: 310px;
  }
}

main section .container .row .soysauce_product {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_product {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main section .container .row .soysauce_product .product_cards {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_product .product_cards {
    width: 580px;
  }
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards {
    width: 480px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards {
    width: 280px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card {
  margin-bottom: 65px;
  margin-right: 28px;
  width: 268px;
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards .product_card {
    width: 221px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card {
    margin-bottom: 25px;
    margin-right: 18px;
    width: 131px;
  }
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_product .product_cards .product_card:nth-child(2n) {
    margin-right: unset;
  }
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_product .product_cards .product_card:nth-child(2n) {
    margin-left: auto;
  }
}

@media (min-width: 1531px) {
  main section .container .row .soysauce_product .product_cards .product_card:nth-child(3n) {
    margin-right: unset;
  }
}

main section .container .row .soysauce_product .product_cards .product_card:last-child {
  margin-right: unset;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area {
  position: relative;
  width: 100%;
  height: 360px;
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area {
    height: 284px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area {
    height: 175px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area:hover .product_hover {
  opacity: 1;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_img {
  width: 100%;
  height: 360px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_img {
    width: 221px;
    height: 284px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_img {
    width: 131px;
    height: 175px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_title {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 31px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_title {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 31px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_price {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 31px;
  margin-bottom: 40px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_price {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 31px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_btn {
  width: 176px;
  height: 43px;
  border: 1px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 23px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_btn {
    width: 176px;
    height: 43px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 23px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.click .layer2 {
  opacity: 1;
  -webkit-animation: add_cart1 0.2s linear 0.2s 1 alternate forwards;
          animation: add_cart1 0.2s linear 0.2s 1 alternate forwards;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.click .layer3 {
  opacity: 1;
  -webkit-animation: add_cart2 0.2s linear 0.1s 1 alternate forwards;
          animation: add_cart2 0.2s linear 0.1s 1 alternate forwards;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.click .layer4 {
  opacity: 1;
  -webkit-animation: add_cart3 0.2s linear 0s 1 alternate forwards;
          animation: add_cart3 0.2s linear 0s 1 alternate forwards;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty {
  position: absolute;
  top: -20px;
  right: -15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #c4362d;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: add_cart 1s;
          animation: add_cart 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty span {
  position: relative;
  z-index: 10;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer1 {
  position: absolute;
  z-index: 9;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 0;
  background-color: #c4362d;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer2 {
  position: absolute;
  z-index: 8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(196, 54, 45, 0.7);
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer3 {
  position: absolute;
  z-index: 7;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(196, 54, 45, 0.4);
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer4 {
  position: absolute;
  z-index: 6;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid rgba(196, 54, 45, 0.4);
}

main section .container .row .soysauce_product .product_cards .product_card .product_content {
  position: relative;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_title {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_content .product_title {
    font-size: 14px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_price {
  font-size: 16px;
  color: #808080;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 40px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_content .product_price {
    font-size: 12px;
    color: #808080;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: #000000;
}

@media (max-width: 767px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn {
    display: none;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn span::before {
  content: "";
  width: 18px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn span::after {
  content: "";
  width: 18px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(90deg);
          transform: translate(-50%) rotate(90deg);
}

main section .container .row .soysauce_product .product_cards.single_cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_product .product_cards.single_cards {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media (max-width: 1279px) {
  main section:nth-child(2) .container .row {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin: 0 -15px !important;
  }
}

main section:nth-child(4) .container .row .soysauce_type .soysauce_title {
  width: 124px;
  height: 286px;
}

@media (max-width: 767px) {
  main section:nth-child(4) .container .row .soysauce_type .soysauce_title {
    width: 92px;
    height: 212px;
  }
}

main section:nth-child(5) .container .row .soysauce_type .soysauce_title {
  width: 167px;
  height: 304px;
}

@media (max-width: 767px) {
  main section:nth-child(5) .container .row .soysauce_type .soysauce_title {
    width: 117px;
    height: 211px;
  }
}

main section:nth-child(6) .container .row .soysauce_type .soysauce_title {
  width: 131px;
  height: 295px;
}

@media (max-width: 767px) {
  main section:nth-child(6) .container .row .soysauce_type .soysauce_title {
    width: 92px;
    height: 211px;
  }
}

main section:nth-child(7) .container .row .soysauce_type .soysauce_title {
  width: 96px;
  height: 277px;
}
/*# sourceMappingURL=shopping.css.map */