@-webkit-keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart3 {
  0% {
    width: 90px;
    height: 90px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart2 {
  0% {
    width: 75px;
    height: 75px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add_cart1 {
  0% {
    width: 60px;
    height: 60px;
  }
  99% {
    width: 45px;
    height: 45px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

@keyframes minus {
  0% {
    right: -28px;
  }
  100% {
    right: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 10px;
}

body * {
  font-family: 'Noto Serif TC','Noto Serif JP', serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body nav {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@-webkit-keyframes bordermove {
  0% {
    top: 0;
    height: 0px;
  }
  49% {
    top: 0;
    height: 105px;
  }
  100% {
    top: 105px;
    height: 0px;
  }
}

@keyframes bordermove {
  0% {
    top: 0;
    height: 0px;
  }
  49% {
    top: 0;
    height: 105px;
  }
  100% {
    top: 105px;
    height: 0px;
  }
}

nav .container .row .menu_Area .menu_backEnd.active ul li {
  margin-bottom: 9px;
}

nav .container .row .menu_Area .menu_backEnd.active ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .row .menu_Area .menu_backEnd.active ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #C0362D;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  margin-bottom: 5px;
}

nav .container .row .menu_Area .menu_backEnd.active ul .login {
  margin-right: 2px;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart {
  margin-right: 2px;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a {
  color: #C0362D;
  position: relative;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a .line_before {
  position: absolute;
  top: 0;
  height: 100%;
  left: -8px;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a .line_before::before {
  content: "";
  height: 105px;
  width: 1px;
  background-color: #C0362D;
  position: absolute;
  -webkit-animation-name: bordermove;
          animation-name: bordermove;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a .line_before::after {
  content: "";
  height: 105px;
  width: 1px;
  background-color: #C0362D;
  position: absolute;
  -webkit-animation-name: bordermove;
          animation-name: bordermove;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a .line_after {
  position: absolute;
  top: 0;
  height: 100%;
  right: -5px;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a .line_after::before {
  content: "";
  height: 105px;
  width: 1px;
  background-color: #C0362D;
  position: absolute;
  -webkit-animation-name: bordermove;
          animation-name: bordermove;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

nav .container .row .menu_Area .menu_backEnd.active ul .shoppingCart a .line_after::after {
  content: "";
  height: 105px;
  width: 1px;
  background-color: #C0362D;
  position: absolute;
  -webkit-animation-name: bordermove;
          animation-name: bordermove;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

@media (max-width: 1530px) {
  body {
    background-color: #ebebeb;
  }
}

main {
  text-align: justify;
}

@media (max-width: 767px) {
  main {
    padding-bottom: 50px;
  }
}

@media (max-width: 540px) {
  main {
    padding-bottom: 30px;
  }
}

main .mask {
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: -9999;
  background-color: #ebebeb;
}

@media (max-width: 1279px) {
  main .mask {
    display: none;
  }
}

main .header {
  padding: 21px 0 100px;
}

main .header .header_container .row .header_content {
  font-size: 32px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 1;
  margin-right: 50px;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_content {
    margin-right: unset;
    margin-bottom: 30px;
    font-size: 22px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 7px;
    line-height: 31px;
  }
}

main .header .header_container .row .header_btns {
  position: relative;
}

main .header .header_container .row .header_btns .types_select {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #231714;
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .types_select {
    width: 100%;
  }
}

main .header .header_container .row .header_btns .types_select::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

main .header .header_container .row .header_btns .types_select::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right bottom, from(#231714), color-stop(49.9%, #231714), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #231714 0%, #231714 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main .header .header_container .row .header_btns .option_area {
  border: 1px solid #231714;
  width: 200px;
  position: absolute;
  z-index: 10;
}

@media (max-width: 540px) {
  main .header .header_container .row .header_btns .option_area {
    width: 100%;
  }
}

main .header .header_container .row .header_btns .option_area .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #ebebeb;
  font-size: 16px;
  color: #989898;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main .header .header_container .row .header_btns .option_area .option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: #231714;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .header .header_container .row .header_btns .option_area .option:last-child::after {
  display: none;
}

main .header .header_container .row .header_btns .option_area .option:hover {
  font-size: 16px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 54px;
}

main section {
  position: relative;
  margin-bottom: 35px;
}

main section .backline {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1200px;
  z-index: -1;
  padding: 72px 0 200px;
  border: unset;
}

@media (max-width: 1530px) {
  main section .backline {
    max-width: 1000px !important;
    padding: 72px 0 200px;
    width: 70%;
  }
}

@media (max-width: 1279px) {
  main section .backline {
    max-width: 75% !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  main section .backline {
    max-width: 100% !important;
  }
}

main section .backline .backline_rect {
  position: absolute;
  top: 0;
  left: -1px;
  width: 350px;
  height: 300px;
  background: #ebebeb;
}

@media (max-width: 1279px) {
  main section .backline .backline_rect {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  main section .backline .backline_rect {
    display: none;
  }
}

main section .backline .backline_border {
  width: 100%;
  height: 100%;
  opacity: 1;
  border: 1px solid #231714;
}

@media (max-width: 767px) {
  main section .backline .backline_border {
    border: unset;
  }
}

main section .modal_area .modal {
  max-height: none;
}

main section .modal_area .modal .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

main section .modal_area .modal .modal-dialog .modal-content {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100vh;
  min-height: 100vh;
  width: 1440px;
  background-color: #C0362D;
  max-height: none;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content {
    width: 1200px;
  }
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content {
    position: relative;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .close_modal {
  border: 1px solid #C0362D;
  width: 150px;
  height: 150px;
  right: -150px;
  top: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  -webkit-transition: 0s;
  transition: 0s;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .close_modal {
    display: none;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .close_modal .line {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 300px;
  height: 1px;
  z-index: 10;
  background-color: #C0362D;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .close_modal .line {
    background-color: #FFF;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .close_modal .line1 {
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .close_modal .line1 {
    -webkit-transform: translate(-50%) rotate(35deg);
            transform: translate(-50%) rotate(35deg);
  }
}

main section .modal_area .modal .modal-dialog .modal-content .close_modal .line2 {
  -webkit-transform: translate(-50%) rotate(-45deg);
          transform: translate(-50%) rotate(-45deg);
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .close_modal .line2 {
    -webkit-transform: translate(-50%) rotate(-35deg);
            transform: translate(-50%) rotate(-35deg);
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card {
  width: 100%;
  height: 100%;
  padding: 12vh 68px 0 168px;
  background-color: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border: unset;
  overflow: hidden;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card {
    padding: 12vh 0 0 60px;
  }
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card {
    min-height: 100vh;
    height: auto;
    padding: 120px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card {
    padding: 70px 0 40px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_img {
  width: 570px;
  height: 760px;
  min-height: 760px;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img {
    width: 375px;
    height: 500px;
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img {
    width: 478px;
    height: 640px;
    min-height: 640px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img {
    width: 280px;
    height: 375px;
    min-height: 375px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_img .header_img {
  width: 285px;
  height: 752px;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 3;
  left: -186px;
  top: -50px;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img .header_img {
    left: -82px;
    top: -50px;
  }
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img .header_img {
    width: 150px;
    height: 397px;
    left: -45px;
    top: -65px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img .header_img {
    width: 126px;
    height: 333px;
    left: -45px;
    top: -65px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_img .header_img {
    width: 93px;
    height: 247px;
    left: -21px;
    top: -69px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail {
  padding: 230px 0 0;
  position: relative;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail {
    padding: 45px 0 0;
    width: 360px;
    height: 500px;
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail {
    height: auto;
    min-height: unset;
    padding: 55px 0 0;
    width: 478px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail {
    width: 280px;
    padding: 0;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal {
  display: none;
  background-color: unset;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  -webkit-transition: 0s;
  transition: 0s;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal {
    display: block;
    border: unset;
    width: 100px;
    height: 70px;
    right: 30px;
    top: 0;
  }
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal {
    right: 10px;
    top: -100px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal {
    width: 60px;
    height: 40px;
    right: 0px;
    top: -710px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal {
    width: 20px;
    height: 15px;
    top: -410px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal .line {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 300px;
  height: 1px;
  z-index: 10;
  background-color: #C0362D;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal .line {
    background-color: #FFF;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal .line1 {
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal .line1 {
    -webkit-transform: translate(-50%) rotate(35deg);
            transform: translate(-50%) rotate(35deg);
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal .line2 {
  -webkit-transform: translate(-50%) rotate(-45deg);
          transform: translate(-50%) rotate(-45deg);
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .close_modal .line2 {
    -webkit-transform: translate(-50%) rotate(-35deg);
            transform: translate(-50%) rotate(-35deg);
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title {
  width: 590px;
  height: 122px;
  min-height: 122px;
  padding-left: 100px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title {
    padding-left: 40px;
    width: 515px;
    height: 118px;
    min-height: 118px;
  }
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title {
    width: 350px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title {
    width: unset;
    padding-left: unset;
    background-color: unset;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title {
    padding: 30px 0;
    height: auto;
    min-height: unset;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_name {
  font-size: 37px;
  color: #C0362D;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 52px;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_name {
    font-size: 32px;
    color: #C0362D;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_name {
    font-size: 32px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 52px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_name {
    font-size: 22px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1;
    margin: 0 0 10px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_price {
  font-size: 27px;
  color: #C0362D;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 52px;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_price {
    font-size: 20px;
    color: #C0362D;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_price {
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 52px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_title .product_price {
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 1;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content {
  padding: 65px 0 65px 100px;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content {
    padding: 65px 0 65px 40px;
  }
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content {
    padding: 50px 0 30px 40px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content {
    padding: 30px 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 41px;
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div span:nth-child(1) {
  width: 110px;
}

@media (max-width: 767px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div span:nth-child(1) {
    width: 95px;
    margin-right: 10px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div span:nth-child(1) {
    width: 80px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div {
    white-space: nowrap;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .product_content div {
    white-space: unset;
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 23px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1530px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart {
    padding-left: unset;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  padding: 0 10px;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn {
    padding: 0 5px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn {
    padding: 0 10px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn {
    padding: 0 5px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .qty {
  font-size: 22px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 31px;
  padding: 0 80px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .qty {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 31px;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .qty {
    padding: 0 70px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .qty {
    font-size: 13px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 18px;
    padding: 0 40px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .minus, main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .plus {
  font-size: 22px;
  color: #FFF;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 31px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .minus, main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .plus {
    font-size: 18px;
    color: #FFF;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .minus, main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart .qty_btn .plus {
    font-size: 15px;
    color: #FFF;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 18px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart form {
  border: 1px solid #fff;
  border-left: unset;
  padding: 0 20px;
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart form {
    padding: 0 45px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart form {
    padding: 0 5px;
  }
}

main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart form button {
  font-size: 22px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 31px;
}

@media (max-width: 1366px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart form button {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

@media (max-width: 540px) {
  main section .modal_area .modal .modal-dialog .modal-content .card .product_detail .add_cart form button {
    font-size: 13px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  main section .modal_area .modal .modal-dialog.active {
    margin-right: -17px !important;
  }
}

@media (max-width: 1279px) {
  main section .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section .container .row .soysauce_type {
  width: 250px;
  padding-bottom: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_type {
    margin-left: 50px;
  }
}

@media (max-width: 1350px) {
  main section .container .row .soysauce_type {
    margin-left: 25px;
  }
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_type {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_type {
    padding-bottom: 20px;
  }
}

main section .container .row .soysauce_type .soysauce_title {
  width: 175px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  main section .container .row .soysauce_type .soysauce_title {
    width: 123px;
    height: 214px;
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_type .soysauce_title {
    display: none;
  }
}

main section .container .row .soysauce_type .soysauce_title_sm {
  width: 66px;
  height: 114px;
  background-size: cover;
  background-position: center;
  display: none;
  margin-bottom: 30px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_type .soysauce_title_sm {
    display: block;
  }
}

main section .container .row .soysauce_type .soysauce_summary {
  width: 210px;
  margin-top: auto;
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 31px;
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_type .soysauce_summary {
    width: 310px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_type .soysauce_summary {
    width: 280px;
    font-size: 14px;
    color: #808080;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
  }
}

main section .container .row .soysauce_product {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_product {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main section .container .row .soysauce_product .product_cards {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_product .product_cards {
    width: 580px;
  }
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards {
    width: 480px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards {
    width: 280px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card {
  margin-bottom: 65px;
  margin-right: 28px;
  width: 268px;
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards .product_card {
    width: 221px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card {
    margin-bottom: 25px;
    margin-right: 18px;
    width: 131px;
  }
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_product .product_cards .product_card:nth-child(2n) {
    margin-right: unset;
  }
}

@media (max-width: 1279px) {
  main section .container .row .soysauce_product .product_cards .product_card:nth-child(2n) {
    margin-left: auto;
  }
}

@media (min-width: 1531px) {
  main section .container .row .soysauce_product .product_cards .product_card:nth-child(3n) {
    margin-right: unset;
  }
}

main section .container .row .soysauce_product .product_cards .product_card:last-child {
  margin-right: unset;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area {
  position: relative;
  width: 100%;
  height: 360px;
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area {
    height: 284px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area {
    height: 175px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area:hover .product_hover {
  opacity: 1;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_img {
  width: 100%;
  height: 360px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_img {
    width: 221px;
    height: 284px;
  }
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_img {
    width: 131px;
    height: 175px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_title {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 31px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_title {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 31px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_price {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 31px;
  margin-bottom: 40px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_price {
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 31px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_btn {
  width: 176px;
  height: 43px;
  border: 1px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 23px;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .product_hover .hover_btn {
    width: 110px;
    height: 35px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 23px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.click .layer1 {
  opacity: 1;
  -webkit-animation: add_cart1 0.2s linear 0.2s 1 alternate forwards;
          animation: add_cart1 0.2s linear 0.2s 1 alternate forwards;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.click .layer2 {
  opacity: 1;
  -webkit-animation: add_cart2 0.2s linear 0.1s 1 alternate forwards;
          animation: add_cart2 0.2s linear 0.1s 1 alternate forwards;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.click .layer3 {
  opacity: 1;
  -webkit-animation: add_cart3 0.2s linear 0s 1 alternate forwards;
          animation: add_cart3 0.2s linear 0s 1 alternate forwards;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty {
  position: absolute;
  top: -20px;
  right: -15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #c4362d;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: add_cart 1s;
          animation: add_cart 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty {
    top: -12px;
    right: -10px;
    width: 25px;
    height: 25px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty span {
  position: relative;
  z-index: 10;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty span {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer1 {
  position: absolute;
  z-index: 8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(196, 54, 45, 0.7);
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer2 {
  position: absolute;
  z-index: 7;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(196, 54, 45, 0.4);
}

main section .container .row .soysauce_product .product_cards .product_card .product_img_area .cart_qty .layer3 {
  position: absolute;
  z-index: 6;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid rgba(196, 54, 45, 0.4);
}

main section .container .row .soysauce_product .product_cards .product_card .product_content {
  position: relative;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_title {
  font-size: 18px;
  color: #231714;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 31px;
  margin: 15px 0 0;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_content .product_title {
    font-size: 14px;
    color: #231714;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 31px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_price {
  font-size: 16px;
  color: #808080;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 40px;
}

@media (max-width: 540px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_content .product_price {
    font-size: 12px;
    color: #808080;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn:hover .minus {
  opacity: 1;
  -webkit-animation: minus 0.3s linear 0s 1 alternate forwards;
          animation: minus 0.3s linear 0s 1 alternate forwards;
}

@media (max-width: 767px) {
  main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn {
    display: none;
  }
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .minus {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 4px;
  right: -28px;
  opacity: 0;
  display: none;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .minus .line1 {
  width: 12px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .minus.active {
  display: block;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .minus.remove {
  right: -28px !important;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .plus {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000000;
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .plus .line1 {
  width: 12px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main section .container .row .soysauce_product .product_cards .product_card .product_content .product_btn .plus .line2 {
  width: 12px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(90deg);
          transform: translate(-50%) rotate(90deg);
}

main section .container .row .soysauce_product .product_cards.single_cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1530px) {
  main section .container .row .soysauce_product .product_cards.single_cards {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

main section:nth-child(2) {
  margin-bottom: unset;
}

@media (max-width: 1279px) {
  main section:nth-child(2) .container .row {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin: 0 -15px !important;
  }
}

@media (max-width: 540px) {
  main section:nth-child(2) .container .row {
    margin: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main section:nth-child(4) .container .row .soysauce_type .soysauce_title {
  width: 124px;
  height: 286px;
}

@media (max-width: 767px) {
  main section:nth-child(4) .container .row .soysauce_type .soysauce_title {
    width: 92px;
    height: 212px;
  }
}

main section:nth-child(4) .container .row .soysauce_type .soysauce_title_sm {
  width: 133px;
  height: 72px;
}

main section:nth-child(5) .container .row .soysauce_type .soysauce_title {
  width: 167px;
  height: 304px;
}

@media (max-width: 767px) {
  main section:nth-child(5) .container .row .soysauce_type .soysauce_title {
    width: 117px;
    height: 211px;
  }
}

main section:nth-child(5) .container .row .soysauce_type .soysauce_title_sm {
  width: 129px;
  height: 86px;
}

main section:nth-child(6) .container .row .soysauce_type .soysauce_title {
  width: 131px;
  height: 295px;
}

@media (max-width: 767px) {
  main section:nth-child(6) .container .row .soysauce_type .soysauce_title {
    width: 92px;
    height: 211px;
  }
}

main section:nth-child(6) .container .row .soysauce_type .soysauce_title_sm {
  width: 115px;
  height: 85px;
}

main section:nth-child(7) .container .row .soysauce_type .soysauce_title {
  width: 96px;
  height: 277px;
}

main section:nth-child(7) .container .row .soysauce_type .soysauce_title_sm {
  width: 111px;
  height: 72px;
}

main .bot_shoppingCart {
  display: none;
}

@media (max-width: 1279px) {
  main .bot_shoppingCart {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #C0362D;
  }
  main .bot_shoppingCart a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .bot_shoppingCart a .icon {
    width: 17px;
    height: 15px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
  }
  main .bot_shoppingCart a span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
  }
}
/*# sourceMappingURL=shopping.css.map */