a:hover {
  text-decoration: none;
}

body {
  border-top: 9px solid #C0362D;
  font-family: 'Noto Serif TC';
  height: 300vh;
}

nav {
  padding-top: 110px;
  color: #231714;
}

nav::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 3%;
  width: 94%;
  height: 100%;
  z-index: -10;
  background-color: #EDEDED;
}

nav .container .row .backEnd ul li a {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: relative;
  font-size: 14px;
  color: #231714;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: unset;
}

nav .container .row .backEnd ul li a::before {
  content: " ";
  position: absolute;
  left: 8px;
  top: -10px;
  display: none;
  width: 6px;
  height: 6px;
  background-image: url("../img/hover.png");
  background-size: cover;
}

nav .container .row .backEnd ul li a::after {
  content: " ";
  position: absolute;
  left: 8px;
  bottom: -7px;
  display: none;
  width: 6px;
  height: 6px;
  background-image: url("../img/hover.png");
  background-size: cover;
}

nav .container .row .backEnd ul li a:hover::before {
  display: block;
}

nav .container .row .backEnd ul li a:hover::after {
  display: block;
}

nav .container .row .nav_btns ul li {
  margin: 0 18px;
}

nav .container .row .nav_btns ul li a {
  font-size: 14px;
  color: #231714;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .nav_btns ul li a::after {
  content: " ";
  display: none;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: #C0362D;
}

nav .container .row .nav_btns ul li a:hover {
  font-size: 14px;
  color: #C0362D;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: unset;
}

nav .container .row .nav_btns ul li a:hover::after {
  display: block;
}

nav .container .row .menu_btn_Area .menu_btn {
  width: 50px;
  height: 50px;
  fill: #C0362D;
}

nav .container .row .menu_btn_Area .menu_bot_text {
  margin: 50px 0 40px;
}

nav .container .row .menu_btn_Area .menu_bot_text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 16px;
  color: #231714;
  font-weight: 900;
  letter-spacing: 12px;
  line-height: 16px;
}

main .carousel::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 31.5%;
  height: 265px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#8D362D), to(#C0362D));
  background: linear-gradient(#8D362D, #C0362D);
  z-index: 1;
}

main .carousel .carousel_container .row .carousel_top {
  z-index: 2;
}

main .carousel .carousel_container .row .carousel_top .swiper-container {
  height: 1140px;
  border-radius: 50%;
}

main .carousel .carousel_container .row .carousel_top .swiper-container .swiper-wrapper .swiper-slide {
  background-color: #333;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .carousel .carousel_container .row .carousel_top .swiper-pagination {
  top: 40px;
  right: -3px;
  z-index: 999;
}

main .carousel .carousel_container .row .carousel_top .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  color: #231714;
  background: #231714;
  opacity: 1;
}

main .carousel .carousel_container .row .carousel_top .swiper-pagination .swiper-pagination-bullet-active {
  color: #C0362D;
  background: #C0362D;
}

main .carousel .carousel_container .row .carousel_bot {
  top: calc( 31.5% + 265px);
  left: -10px;
}

main .carousel .carousel_container .row .carousel_bot .textArea {
  z-index: 4;
  top: 100px;
}

main .carousel .carousel_container .row .carousel_bot .textArea p {
  text-align: center;
}

main .carousel .carousel_container .row .carousel_bot .textArea .jpText {
  font-size: 42px;
  color: #231714;
  font-weight: 600;
  letter-spacing: 7px;
  line-height: unset;
}

main .carousel .carousel_container .row .carousel_bot .textArea .twText {
  font-size: 32px;
  color: #231714;
  font-weight: 600;
  line-height: unset;
}

main .carousel .carousel_container .row .carousel_bot .textArea .enText {
  font-size: 22px;
  color: #231714;
  font-weight: 600;
  line-height: unset;
}

main .carousel .carousel_container .row .carousel_bot .smallcircle {
  width: calc( 100% + 20px);
  height: 515px;
  z-index: 3;
}

main .carousel .carousel_container .row .carousel_bot .smallcircle circle {
  fill: #EDEDED;
  stroke: #C0362D;
  stroke-width: 35px;
}

main .introduction {
  height: 868px;
  width: 100%;
  background-color: #F7F7F7;
  margin: 264px 0 105px;
}

main .introduction::before {
  content: " ";
  display: block;
  background: #C0362D;
  position: absolute;
  left: 0;
  top: -400px;
  width: 1540px;
  height: 480px;
  z-index: 4;
}

main .introduction::after {
  content: " ";
  display: block;
  background: #C0362D;
  position: absolute;
  right: 0;
  width: 1200px;
  height: 480px;
}
/*# sourceMappingURL=style.css.map */