$bg_color: #EDEDED
$colorBlack: #231714
$colorOrange:  #C0362D 
$colorDarkOrange: #8D362D
$colorGrey: #808080

@mixin FontStyle($font-size:14px,$font-color:#231714,$font-weight:600,$letter-spacing:7px,$line-height:unset)
    font-size: $font-size
    color: $font-color
    font-weight: $font-weight
    letter-spacing: $letter-spacing
    line-height: $line-height
@mixin backEndHover($top,$bottom)
    content: " "
    position: absolute
    left: 8px
    top: $top
    bottom: $bottom
    display: none
    width: 6px
    height: 6px
    background-image: url("../img/hover.png")
    background-size: cover

a:hover
    text-decoration: none
body
    border-top: 9px solid $colorOrange
    font-family: 'Noto Serif TC'
    height: 300vh
    
nav
    padding-top: 110px 
    color: $colorBlack
    &::before
        content: " "
        display: block
        position: absolute
        top: 0
        left: 3%
        width: 94%
        height: 700%
        z-index: -10
        background-color: $bg_color
    .container
        .row
            .logo

                img
            .backEnd
                ul
                    li
                        a
                            writing-mode: vertical-lr
                            position: relative
                            +FontStyle(14px,$colorBlack,900,7px)
                            margin: 0 3px
                            &::before
                                +backEndHover(-10px,null)
                            &::after
                                +backEndHover(null,-7px)
                            &:hover::before
                                display: block
                            &:hover::after
                                display: block
            .nav_btns
                ul
                    li
                        margin: 0 16px
                        a
                            +FontStyle(14px,$colorBlack,900,2px)
                            &::after
                                content: " "
                                display: none
                                width: 100%
                                height: 3px
                                margin-top: 10px
                                background-color: $colorOrange
                            &:hover
                                +FontStyle(14px,$colorOrange,900,2px)    
                            &:hover::after
                                display: block
            .menu_btn_Area
                .menu_btn
                    width: 50px
                    height: 50px
                    fill: $colorOrange
                .menu_bot_text
                    margin: 52px 0 25px
                    span
                        writing-mode: vertical-lr
                        +FontStyle(14px,$colorBlack,900,12px,14px)
                        margin-left: 10px

main
    .carousel
        &::before
            content: " "
            display: block
            position: absolute
            left: 0
            top: 365px
            height: 265px
            width: 100%
            background: linear-gradient($colorDarkOrange,$colorOrange)
            z-index: 1
        .carousel_container
            .row
                .carousel_top
                    z-index: 2
                    .swiper-container 
                        height: 1140px
                        border-radius: 50%
                        .swiper-wrapper
                            .swiper-slide 
                                background-color: #333
                                text-align: center
                                font-size: 18px
                                display: flex
                                justify-content: center
                                align-items: center
                    .swiper-pagination 
                        top: 40px
                        right: -3px
                        z-index: 999
                        .swiper-pagination-bullet 
                            margin: 5px 0
                            color: $colorBlack
                            background: $colorBlack
                            opacity: 1
                        .swiper-pagination-bullet-active 
                            color: $colorOrange
                            background: $colorOrange
                .carousel_bot
                    top: 630px
                    left: -10px
                    .textArea
                        z-index: 4
                        top: 120px
                        p
                            text-align: center
                        .jpText
                            +FontStyle(42px,$colorBlack,600,7px)
                        .twText
                            +FontStyle(32px,$colorBlack,600,null)
                        .enText
                            +FontStyle(22px,$colorBlack,600,null)
                    .smallcircle
                        width: calc( 100% + 20px )
                        height: 533px
                        z-index: 3  
                        circle
                        fill: #EDEDED
                        stroke: $colorOrange
                        stroke-width: 30px
    .introduction
        height: 868px
        width: 100%
        margin: 264px 0 698px
        &::before
            content: " "
            display: block
            background-image: url("../img/introduction_top.jpg")
            box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.4)
            background-size: cover
            background-position: center
            position: absolute
            left: 0
            top: -404px
            width: calc( (100% -  1140px) / 2 + 1140px)
            height: 480px
            z-index: 4
        &::after
            content: " "
            display: block
            background-image: url("../img/introduction_bot.jpg")
            box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.4)
            background-size: cover
            background-position: center
            position: absolute
            right: 0
            bottom: -230px
            z-index: 4
            width: calc( (100% -  1140px) / 2 + 1140px)
            height: 480px
        .introduction_container
            padding: 76px 0 0
            &::before
                content: " "
                display: block
                width: calc( (100% - 1140px) / 2 + 515px )
                height: 868px
                position: absolute
                left: 0
                top: 17px
                z-index: 0
                background: $colorOrange
            .row
                position: relative
                .introduction_left
                    flex: 1
                    span
                        writing-mode: vertical-lr
                        +FontStyle(123px,#fff,600,null)
                .introduction_right
                    padding-top: 215px
                    flex: 0 0 580px
                    p
                        &:nth-child(1)
                            +FontStyle(18px,$colorBlack,900,4px)
                            margin-bottom: 50px
                        &:nth-child(2)
                            +FontStyle(16px,$colorGrey,600,1px)
                .introduction_bot
                    position: absolute
                    bottom: -550px
                    right: -25px
                    z-index: 10
                    .introduction_bot_left
                        width: 460px
                        height: auto
                        position: relative
                        top: 118px
                        left: -400px
                        p
                            &:nth-child(1)
                                +FontStyle(18px,#fff,900,4px)
                                margin-bottom: 50px
                            &:nth-child(2)
                                +FontStyle(16px,#fff,600,1px)
                    .introduction_bot_right
                        span
                            writing-mode: vertical-lr
                            +FontStyle(123px,#fff,900,20px)
    .soysauce
        .soysauce_container
            .row
                .soysauce_text_Area
                    height: 620px
                    border: 40px solid $colorOrange
                    padding-top: 345px
                    margin-bottom: 170px 
                    &::before
                        content: " "
                        display: block
                        width: 920px
                        height: 920px
                        background-image: url("../img/soysauce.jpg")
                        background-size: 178%
                        background-repeat: no-repeat
                        background-position: 47% 40%
                        border-radius: 50%
                        position: absolute
                        top: -633px
                        left: 50%
                        transform: translateX(-50%)
                    &::after
                        content: "醬油。"
                        display: block
                        writing-mode: vertical-lr
                        border-radius: 50%
                        color: #fff
                        position: absolute
                        top: -200px
                        left: 50%
                        z-index: 5
                        transform: translateX(-50%)
                        +FontStyle(123px,#fff,900,40px)
                    p
                        width: 503px
                        text-align: center
                        margin-bottom: 30px
                        &:nth-child(1)
                            +FontStyle(16px,$colorBlack,600,2px)
                        &:nth-child(2)
                            +FontStyle(16px,$colorGrey,600,2px)
    .facebook
        .facebook_container
            .row
                position: relative
                .facebook_header
                    +FontStyle(32px,$colorBlack,600,2px)
                    margin-bottom: 85px 
                .facebook_btn
                    position: absolute
                    +FontStyle(18px,$colorBlack,600,2px)
                    border: 1px solid $colorBlack
                    top: 15px
                    right: 20px
                    padding: 2px 35px
                .facebook_news
                    margin-bottom: 75px 
                    .post_img
                        flex: 0 0 540px
                        height: 290px
                        background: #333
                        overflow: hidden
                        img
                            width: 100%
                            height: auto         
                    .post_content
                        flex: 1 1 auto
                        padding: 0 60px
                        position: relative
                        .post_content_title
                            +FontStyle(22px,$colorBlack,900,4px)
                            margin-bottom: 15px
                            &::before
                                content: " "
                                display: block
                                background: $colorOrange
                                position: absolute
                                width: 120px
                                height: 120px
                                top: -20px
                                left: -560px
                                z-index: -1
                        .post_content_time
                            +FontStyle(16px,$colorGrey,900,2px)
                            margin-bottom: 85px
                        .post_content_text
                            width: 100%
                            +FontStyle(18px,$colorBlack,600,4px)


                        

        

                


    


                

                
            
            
                
